<template>
    <settings  title="Codes">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-3xl">Codes </h1>
			<div class="mb-6 flex justify-between items-center">
				Product/Service Auto code generation settings
			</div>
			<div class="bg-white rounded shadow overflow-x-auto px-4 py-4">
				<table class="w-full whitespace-no-wrap">
					<tr class="text-left font-bold">
						<th class="px-2 pt-2 pb-2">Module</th>
						<th class="px-2 pt-2 pb-2 text-center">Prefix</th>
						<th class="px-2 pt-2 pb-2 text-center">Starts</th>
						<th class="px-2 pt-2 pb-2 text-center"> Last used</th>
						<th class="px-2 pt-2 pb-2 text-center">Next Code</th>
					</tr>
					<module-code :codes="codes" module-name="inquiries"></module-code>
					<module-code :codes="codes" module-name="bookings"></module-code>
					<module-code :codes="codes" module-name="employees"></module-code>
				</table>
			</div>
		</div>
    </settings>
</template>

<script>
import ModuleCode from './InitializeCode.vue'
export default {
    props:{
        codes:{ }
    },
    data() {
        return {

        }
    },
	components:{
		ModuleCode
    }
}
</script>

<style>

</style>
