<template>
    <tr class="">
        <td class="border-t capitalize"> {{ moduleData.module_name }}  </td>
        <td class="border-t">
            <input type="text"  v-model="moduleData.code_prefix"  :disabled="isModuleCodeInitialized" class="form-input px-4 pt-2 pb-2 text-center h-8 w-2/3 mx-auto" placeholder="code prefix">
        </td>
        <td class="border-t">
            <input type="text"  v-model="moduleData.start_code" class="form-input px-4 pt-2 pb-2 text-center h-8 w-2/3 mx-auto" :disabled="isModuleCodeInitialized" placeholder="start code">
        </td>
        <td class="border-t">
            <strong v-if="moduleData.last_used_code" type="string" disabled > {{ moduleData.last_used_code }} </strong>
            <small v-else class="text-red-600"> Code not yet generated.  </small>
        </td>
        <td class="border-t text-center px-2">
            <button v-if="!isModuleCodeInitialized"  :class="{ 'disabled' : isInProgress } " @click="generateCode" class="flex items-center btn-indigo p-2 ml-auto">
                <i class="btn-spinner mr-2" v-if="isInProgress"></i>
                Generate
            </button>
            <!-- to test -->
            <button v-else-if="isDevelopment" :class="{ 'disabled' : isInProgress } " @click="getNext" class="flex items-center btn-indigo p-2 ml-auto">
                <i class="btn-spinner mr-2" v-if="isInProgress"></i>
                Next Code
            </button>

        </td>
    </tr>
</template>

<script>
export default {
    props:['codes', 'moduleName'],
    data() {
        return {
            moduleData : { code_prefix:'', start_code:'00001', module_name:this.moduleName, last_used_code:''},
            isInProgress: false,
            isDevelopment: false // if you wanna check if next code generation is working or not just enable this flag
        }
    },
    computed: {
        isModuleCodeInitialized() {
            const code = _.find(this.codes, (code) => code.module_name == this.moduleName);
            if(code) {
                this.moduleData = $.extend(true,{},code)
            }
            return this.moduleData && this.moduleData.id
        },
    },
    methods:{
        generateCode() {
            this.toggleFlag();
            axios.post( this.route('codes.store'), this.moduleData)
                .then( ({ data }) => {
                    this.moduleData = data.code
                    this.toggleFlag();
                    alert("Code created")
                } )
                .catch( response =>{
                    this.toggleFlag();
                    alert("Problem happened whole creating code")
                })
        },
        toggleFlag() {
            this.isInProgress = !this.isInProgress
        },
        getNext() {
            this.toggleFlag();
            axios.get(this.route('codes.next', this.moduleData.module_name))
                .then( ({ data }) => {
                    this.$set(this.moduleData, 'last_used_code', data.code.last_used_code)
                    this.toggleFlag();
                    alert("Next code is fetched")
                } )
                .catch( response =>{
                    this.toggleFlag();
                    alert("Error while fetching Next Code")
                })

        }
    },
    mounted() {
        //this.moduleData = $.extend({}, this.module)
    }
}
</script>

<style>

</style>
