<template>
	<layout title="Create Account">
		<div class="p-12">
            <h1 class="mb-8 font-bold text-3xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('collections')">Collections</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> Create
            </h1>
            <div class="bg-white rounded shadow max-w-lg">
                <form @submit.prevent="submit">
                    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <text-input v-model="form.name" :errors="$page.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Collection Name" />
                        <div class="pr-6 pb-8 w-full">
                            <multiselect-input class="w-1/2" v-model="selectedCountries" :multiple="true" track-by="id" formlabel="Select Countries" label="name" :url="routeUri('api.countries')"
                                :errors="$page.errors.countries" :allow-empty="false" placeholder="Select Countries" :searchable="true" :internal-search="false" 
                                :clear-on-select="true" :close-on-select="false" :min-query-length="3">
                            </multiselect-input>
                        </div>
                        <div class="pr-6 pb-8 w-full">
                            <multiselect-input class="w-1/2" v-model="selectedDestinations" :multiple="true" track-by="id" formlabel="Select Destinations" label="name" :url="routeUri('api.destinations')"
                                :errors="$page.errors.destinations" :allow-empty="false" placeholder="Select Destinations" :searchable="true" :internal-search="false" 
                                :clear-on-select="true" :close-on-select="false" :min-query-length="3">
                            </multiselect-input>
                        </div>
                        <textareainput v-model="form.searchable_terms" :errors="$page.errors.searchable_terms" class="pr-6 pb-8 w-full" label="Searchable Terms" />
                        <textareainput v-model="form.short_description" :errors="$page.errors.short_description" class="pr-6 pb-8 w-full" label="Short Description" />
						<textareainput v-model="form.long_description" :errors="$page.errors.long_description" class="pr-6 pb-8 w-full" label="Long Description" />
                    </div>
                    <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-end items-center">
                        <loading-button :loading="sending" class="btn-indigo" type="submit">Create Collection</loading-button>
                    </div>
                </form>
            </div>
		</div>
	</layout>
</template>

<script>
export default {
    props: {
        servingCountries: Array
    },
    data() {
        return {
            sending: false,
            selectedCountries: [],
            selectedDestinations: [],
            form: {
                name: '',
                searchable_terms: '',
                short_description: '',
                long_description: '',
                countries: [],
                destinations: [],
                has_countries: false,
                has_destinations: false
            },
        }
    },
    methods: {
        submit() {
            this.setCountriesDestinations();
            this.$inertia.post(this.route('collections.store'), this.form)
            .then(() => {
                this.sending = false;
            });
        },
        setCountriesDestinations() {
            if(this.selectedCountries.length) {
                this.form.has_countries = true;
                this.form.countries = this.selectedCountries.map(country => country.id);
            }
            if(this.selectedDestinations.length) {
                this.form.has_destinations = true;
                this.form.destinations = this.selectedDestinations.map(destination => destination.id);
            }
        }
    }
}
</script>