<template>
	<settings title="form.name">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('collections')">Collections</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> {{ collection.name }}
            </h1>
			<trashed-message v-if="collection.deleted_at" class="mb-6" @restore="restore">
				This collection has been deleted.
			</trashed-message>
			<div class="bg-white rounded shadow overflow-hidden max-w-lg">
				<form @submit.prevent="submit">
                    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <text-input v-model="form.name" :errors="$page.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Collection Name" />
                        <textareainput v-model="form.searchable_terms" :errors="$page.errors.searchable_terms" class="pr-6 pb-8 w-full" label="Searchable Terms" />
						<textareainput v-model="form.short_description" :errors="$page.errors.short_description" class="pr-6 pb-8 w-full" label="Short Description" />
						<textareainput v-model="form.long_description" :errors="$page.errors.long_description" class="pr-6 pb-8 w-full" label="Long Description" />
						<div class="pr-6 pb-8 w-full">
							<h4 class="text-bold text-xl mb-4">Collection Countries</h4>

							<span v-for="(country, index) in originalCountries" :key="country.id" class="px-4 py-2 rounded-full bg-blue-400 text-white text-sm inline-block mr-2 mb-2">
								{{country.name}}
								<span class="ml-4 cursor-pointer" @click="originalCountries.splice(index, 1)">x</span>
							</span>
							<p v-if="!countries.length" class="text-red-300">
								No countries added to the collection
							</p>
							<multiselect-input class="w-1/2 my-4" v-model="newCountries" :multiple="true" track-by="id" formlabel="Add Countries" label="name" :url="routeUri('api.countries')"
                                :errors="$page.errors.newCountries" :allow-empty="false" placeholder="Select Countries" :searchable="true" :internal-search="false" 
                                :clear-on-select="true" :close-on-select="false" :min-query-length="3">
                            </multiselect-input>
						</div>
						<div class="pr-6 pb-8 w-full">
							<h4 class="text-bold text-xl mb-4">Collection Destinations</h4>
							<span v-for="(destination, index) in originalDestinations" :key="destination.id" class="px-4 py-2 rounded-full bg-blue-400 text-white text-sm inline-block mr-2 mb-2">
								{{destination.name}}
								<span class="ml-4 cursor-pointer" @click="originalDestinations.splice(index, 1)">x</span>
							</span>
							<p v-if="!destinations.length" class="text-red-300">
								No destinations added to the collection
							</p>
							<multiselect-input class="w-1/2 my-4" v-model="newDestinations" :multiple="true" track-by="id" formlabel="Add Destinations" label="name" :url="routeUri('api.destinations')"
                                :errors="$page.errors.newDestinations" :allow-empty="false" placeholder="Select Destinations" :searchable="true" :internal-search="false" 
                                :clear-on-select="true" :close-on-select="false" :min-query-length="3">
                            </multiselect-input>
						</div>
                    </div>
                    <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-between items-center">
						<button v-if="!collection.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Delete Collection</button>
                        <loading-button :loading="sending" class="btn-indigo ml-auto" type="submit">Update Collection</loading-button>
                    </div>
                </form>
			</div>
		</div>
	</settings>
</template>

<script>
export default {
	props: {
		collection: Object,
		countries: Array,
		destinations: Array
	},
	remember: 'form',
	data() {
		return {
			sending: false,
			originalCountries: [],
			originalDestinations: [],
			newDestinations: [],
			newCountries: [],
			form: {
				name: '',
				searchable_terms: '',
				short_description: '',
				long_description: '',
			},
		}
	},
	methods: {
		submit() {
			var countries = this.originalCountries.concat(this.newCountries);
			this.form.countries = countries.map(country => country.id);
			
			var destinations = this.originalDestinations.concat(this.newDestinations);
			this.form.destinations = destinations.map(destination => destination.id);
			
			if(this.checkDestinationBelongsToCountry(this.form.countries, destinations)) {
				alert("A destination belongs to an already included country.");
				return;
			}

			this.sending = true
			this.$inertia.put(this.route('collections.update', this.collection.id), this.form)
			.then(() => this.reset())
		},
		destroy() {
			if (confirm('Are you sure you want to delete this collection?')) {
				this.$inertia.delete(this.route('collections.destroy', this.collection.id))
			}
		},
		restore() {
			if (confirm('Are you sure you want to restore this collection?')) {
				this.$inertia.put(this.route('collections.restore', this.collection.id))
			}
		},
		reset() {
			this.sending = false;
			this.originalCountries = this.countries;
			this.originalDestinations = this.destinations;
			this.newCountries = [];
			this.newDestinations = [];
			this.form.name = this.collection.name;
			this.form.searchable_terms = this.collection.searchable_terms;
			this.form.short_description = this.collection.short_description;
			this.form.long_description = this.collection.long_description;
		},
		checkDestinationBelongsToCountry(countriesID, destinations) {
			if(!countriesID.length || !destinations.length) {
				return false;
			}
			var countryAlreadySelected = false;
			destinations.forEach(destination => {
				if(countriesID.includes(destination.country_id)) {
					countryAlreadySelected = true;
				}
			});
			return countryAlreadySelected;
		}
	},
	mounted() {
		this.reset();
	},
	watch: {
		$props: {
			handler() {
				this.originalCountries = this.countries;
				this.originalDestinations = this.destinations;
			},
			deep: true,
			immediate: true
		}
	}
}
</script>