<template>
	<settings title="Countries">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-3xl">Collections</h1>
			<div class="mb-6 flex justify-between items-center">
				<search-filter v-model="form.search" class="w-full max-w-sm mr-4" @reset="reset">
					<label class="block text-grey-darkest">Status:</label>
					<select v-model="form.trashed" class="mt-1 w-full form-select">
						<option :value="null" />
						<option value="with">With Trashed</option>
						<option value="only">Only Trashed</option>
					</select>
				</search-filter>
				<inertia-link class="btn-indigo" :href="route('collections.create')">
					Create Collection
				</inertia-link>
			</div>
			<div class="bg-white rounded shadow overflow-x-auto">
				<table class="w-full whitespace-no-wrap">
					<tr class="text-left font-bold">
						<th class="px-6 pt-6 pb-4" colspan="2">Collection Name</th>
					</tr>
					<tr v-for="collection in collections.data" :key="collection.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center focus:text-indigo-400" :href="route('collections.edit', collection.id)">
								{{ collection.name }}
							</inertia-link>
						</td>
						<td class="border-t w-px">
							<inertia-link class="px-4 flex items-center" :href="route('collections.edit', collection.id)" tabindex="-1">
								<icon name="cheveron-right" type="svg" class="block w-6 h-6 fill-grey" />
							</inertia-link>
						</td>
					</tr>
					<tr v-if="collections.data.length === 0">
						<td class="border-t px-6 py-4" colspan="4">No collections found.</td>
					</tr>
				</table>
			</div>
			<pagination :links="collections.links" />
		</div>
	</settings>
</template>

<script>
export default {
	props: {
		collections: Object,
		filters: Object,
	},
	data() {
		return {
			form: {
				search: this.filters.search,
				trashed: this.filters.trashed,
			},
		}
	},
	watch: {
		form: {
			handler: _.throttle(function() {
                let query = _.pickBy(this.form)
                this.$inertia.replace(this.route('collections', Object.keys(query).length ? query : { remember: 'forget' }))
            }, 150),
            deep: true,
		},
	},
	methods: {
		reset() {
			this.form = _.mapValues(this.form, () => null)
		}
	},
}
</script>
