.information-section table {
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
    border-collapse: collapse;
    font-size: 13px;
    @apply leading-tight !important;
}

.information-section table th, .information-section table td {
    border: 1px solid #e9ecef;
    box-sizing: border-box;
}

.information-section table th {
    background: #e5e5e5;
    padding: 6px 10px;
}

.information-section table td {
    padding: 10px;
}