<template>
    <layout title="Create FAQ">
        <div class="p-12">
            <h1 class="mb-8 font-bold text-xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('faqs')">FAQs</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> Create
            </h1>
            <div class="bg-white rounded shadow max-w-lg">
                <form @submit.prevent="submit">
                    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <text-input v-model="form.question" :required="true" :errors="$page.errors.quetion" class="pr-6 pb-8 w-full" label="Question" />
                        <textareainput v-model="form.answer" :required="true" :errors="$page.errors.answer" class="pr-6 pb-8 w-full" label="FAQ answer" rows="10"/>
                        <label class="form-label"> Categories : <sup class="text-red-500">*</sup></label>
                        <multiselect-input track-by="id" v-model="selectedCategories" label="label" :multiple="true" :options="categories"></multiselect-input>
                    </div>
                    <div class="px-8 py-4 bg-grey-lightest border-t border-gray-200 flex justify-end items-center">
                        <submit-button :handler="submit" form-id="faq-edit" class="btn-indigo" type="submit">
                            Create FAQ
                        </submit-button>
                    </div>
                </form>
            </div>
        </div>
    </layout>
</template>

<script>
export default {
    props:{
        faq:{},
        categories:{  },
    },
    data() {
        return {
            form: { question:'', answer:'', categories:[] },
            selectedCategories:[]
        }
    },
    methods:{
        submit() {
            this.addCategoryIds()
            return this.$inertia.post(this.route('faqs.store'), this.form)
        },
        addCategoryIds() {
            this.form.categories =[]
            this.selectedCategories.forEach(category => {
                this.form.categories.push(category.id)
            });
        }

    }
}
</script>

<style>

</style>
