<template>
    <layout title="Edit FAQ">
        <div class="p-12">
            <h1 class="mb-8 font-bold text-xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('faqs')">FAQs</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> Edit
            </h1>
            <div class="bg-white rounded shadow max-w-lg">
                <form @submit.prevent  id="faq-edit">
                    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <text-input v-model="form.question" :required="true" :errors="$page.errors.quetion" class="pr-6 pb-8 w-full" label="Question" />
                        <textareainput v-model="form.answer" :required="true" :errors="$page.errors.answer" class="pr-6 pb-8 w-full" label="FAQ answer" placeholder="FAQ Answer" rows="10"/>
                        <label class="form-label"> Categories : <sup class="text-red-500">*</sup></label>
                        <multiselect-input track-by="id" v-model="selectedCategories" label="label" :multiple="true" :options="trimmedCategoriesByIdAndLabel"></multiselect-input>
                    </div>
                    <div class="px-8 py-4 bg-grey-lightest border-t border-gray-200 flex justify-end items-center">
                        <submit-button :handler="submit" form-id="faq-edit" class="btn-indigo" type="submit">
                            Update FAQ
                        </submit-button>
                    </div>
                </form>
            </div>
        </div>
    </layout>
</template>

<script>
export default {
    props:{
        faq:{},
        categories:{  },
        sending: false
    },
    data() {
        return {
            form: { question: this.faq.question , answer: this.faq.answer , categories: this.faq.categories },
            selectedCategories:[]
        }
    },
    computed:{
        trimmedCategoriesByIdAndLabel() {
            return this.categories.map( category => {
                return { id: category.id, label: category.label }
            })
        }
    },
    methods:{
        submit() {
            this.addCategoryIds()
            return this.$inertia.put(this.route('faqs.update', this.faq.id), this.form)
        },
        addCategoryIds() {
            this.form.categories =[]
            this.selectedCategories.forEach(category => {
                this.form.categories.push(category.id)
            });
        }

    },
    mounted() {
        this.selectedCategories = this.trimmedCategoriesByIdAndLabel.filter( category => this.faq.categories.indexOf(category.id) > -1 )
    }
}
</script>

<style>

</style>
