<template>
    <layout title="FAQs">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-3xl">FAQs</h1>
            <div class="mb-6 flex justify-between items-right">
                <inertia-link class="btn-indigo" :href="route('faq-categories.create')">
					Create Category
				</inertia-link>
				<inertia-link class="btn-indigo" :href="route('faqs.create')">
					Create FAQ
				</inertia-link>
			</div>
            <div class="w-full h-full flex flex-stretch">
                <div class="w-48 max-h-full border-r flex flex-col">
                    <div class="w-full px-2 py-2 border-b">
                        <h4 class="text-xl font-semibold">Categories</h4>
                    </div>
                    <div class="flex-grow overflow-y-scroll">
                        <div class="px-2 border-b" v-for="category in categories" :key="category.id">
                            <a href="javascript:void(0)" class="block py-2 leading-loose" active-class="border-l-4 border-red-600"
                               @click="onCategorySelected(category.id)">
                                <span class="text-sm uppercase">{{ category.label }}</span>

                                <inertia-link class="text-xs" :href="route('faq-categories.edit', category.id)">
                                    <i class="fa fa-edit"> </i> edit
                                </inertia-link>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flex-grow overflow-y-scroll">
                    <div class="w-full p-4">
                        <div class="w-full py-2 border-b">
                            <h2 class="text-xl px-4 font-semibold">FAQs for selected Category</h2>
                        </div>
                        <div class="w-full h-full">
                            <div v-for="faq in faqsForSelectedCategory" :key="faq.id">
                                <h3>
                                    <span class="text-red-500 leading-loose">{{ faq.question }}</span>
                                    <inertia-link class="text-blue-300 text-xs" :href="route('faqs.edit', faq.id)">
                                        <i class="fa fa-edit"> </i>  Edit 
                                    </inertia-link>
                                </h3>
                                <div>
                                    {{ faq.answer }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
    </layout>
</template>

<script>
export default {
    props:{
        faqs:{},
        categories:{ }
    },
    data() {
        return {
            selectedCategory:''
        }
    },
    computed:{
        faqsForSelectedCategory() {
            return this.faqs.filter( faq => {
                return faq.categories && faq.categories.indexOf(this.selectedCategory) > -1
            } )
        }
    },
    methods:{
        onCategorySelected(category) {
            this.selectedCategory = category
        }
    }
}
</script>

<style>

</style>
