<template>
	<layout title="Create Account">
		<div class="p-12">
            <h1 class="mb-8 font-bold text-3xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('packages')">Packages</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> Create
            </h1>
            <div class="bg-white rounded shadow">
                <!--
                <ul>
                    <li>
                        <inertia-link :href="route('package-details')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <span class="text-sm uppercase">Basic Details</span>
                        </inertia-link>
                    </li>
                    <li>
                        <inertia-link :href="route('package-itinerary')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <span class="text-sm uppercase">Itinerary</span>
                        </inertia-link>
                    </li>
                    <li>
                        <inertia-link :href="route('package-inclusions')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <span class="text-sm uppercase">Inclusions</span>
                        </inertia-link>
                    </li>
                    <li>
                        <inertia-link :href="route('package-information')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <span class="text-sm uppercase">Information</span>
                        </inertia-link>
                    </li>
                    <li>
                        <inertia-link :href="route('package-advanced-settings')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <span class="text-sm uppercase">Advanced Settings</span>
                        </inertia-link>
                    </li>
                </ul>
                <div>
                    <slot></slot>
                </div>
                -->
                <tabs class="p-8">
                    <tab name="Basic Details" :selected="true" href="package-basic">
                        <form @submit.prevent="submit">
                            <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                                <text-input v-model="form.title" :errors="$page.errors.title" class="pr-6 pb-8 w-full lg:w-1/2" label="Package Title" />
                                <text-input v-model="form.tour_code" :errors="$page.errors.tour_code" class="pr-6 pb-8 w-full lg:w-1/2" label="Package Code" />
                                <select-input v-model="form.tour_type" :errors="$page.errors.tour_code" class="pr-6 pb-8 w-full lg:w-1/2" label="Package Type">
                                    <option value="customized-holiday">Customized Holiday</option>
                                    <option value="group-tour-inclusive-flights">Group Tour (Incl. Flights)</option>
                                    <option value="group-tour-exclusive-flights">Group Tour (Excl. Flights)</option>
                                    <option value="activity">Activity Tour (Excl. Flights)</option>
                                </select-input>
                                <select-input v-model="form.price_starts_from_currency" :errors="$page.errors.price_starts_from_currency" class="pr-6 pb-8 w-full lg:w-1/2" label="Price Currency">
                                    <template v-for="country in countries">
                                        <option v-for="currency in country.currency" :key="country.id + '-' + currency" :value="currency">{{country.name}} - {{currency}}</option>
                                    </template>
                                </select-input>
                                <text-input type="number" v-model="form.price_starts_from" :errors="$page.errors.price_starts_from" class="pr-6 pb-8 w-full lg:w-1/2" label="Price" />
                                
                                
                            </div>
                            <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-end items-center">
                                <loading-button :loading="sending" class="btn-indigo" type="submit">Create Package</loading-button>
                            </div>
                        </form>
                    </tab>

                    <tab name="Itinerary">
                        <vue-editor v-model="form.itinerary" :errors="$page.errors.itinerary" class="pr-6 pb-8 w-full" label="Itinerary" :editMode="true"></vue-editor>
                    </tab>
                    <tab name="Inclusions">
                        <vue-editor v-model="form.inclusions" :errors="$page.errors.inclusions" class="pr-6 pb-8 w-full" label="Inclusions" :editMode="true"></vue-editor>
                        <vue-editor v-model="form.exclusions" :errors="$page.errors.exclusions" class="pr-6 pb-8 w-full" label="Exclusions" :editMode="true"></vue-editor>
                    </tab>
                    <tab name="Information">
                        <vue-editor v-model="form.tour_highlights" :errors="$page.errors.tour_highlights" class="pr-6 pb-8 w-full" label="Tour Highlights" :editMode="false"></vue-editor>
                        <vue-editor v-model="form.payment_policy" :errors="$page.errors.payment_policy" class="pr-6 pb-8 w-full" label="Payment Policy" :editMode="false"></vue-editor>
                        <vue-editor v-model="form.remarks" :errors="$page.errors.remarks" class="pr-6 pb-8 w-full" label="Remarks" :editMode="false"></vue-editor>
                        <vue-editor v-model="form.other_information" :errors="$page.errors.other_information" class="pr-6 pb-8 w-full" label="Other Information" :editMode="false"></vue-editor>
                        <!--Highlights, Optionals, Special Notes, Remarks-->
                    </tab>
                    <tab name="Advanced Settings">
                        Advanced Settings
                    </tab>
                </tabs>
            </div>
		</div>
	</layout>
</template>

<script>
import Tabs from '@/Shared/Tabs.vue'
import Tab from '@/Shared/Tab.vue'
export default {
    components: {
        Tabs,
        Tab
    },
    props: {
        countries: Array
    },
    data() {
        return {
            sending: false,
            selectedCountries: [],
            selectedDestinations: [],
            form: {
                name: '',
                searchable_terms: '',
                short_description: '',
                long_description: '',
                countries: [],
                destinations: [],
                inclusions: '',
                has_countries: false,
                has_destinations: false
            },
        }
    },
    methods: {
        submit() {
            this.setCountriesDestinations();
            this.$inertia.post(this.route('collections.store'), this.form)
            .then(() => {
                this.sending = false;
            });
        },
        setCountriesDestinations() {
            if(this.selectedCountries.length) {
                this.form.has_countries = true;
                this.form.countries = this.selectedCountries.map(country => country.id);
            }
            if(this.selectedDestinations.length) {
                this.form.has_destinations = true;
                this.form.destinations = this.selectedDestinations.map(destination => destination.id);
            }
        }
    }
}
</script>