<template>
    <layout title="Package">
        <div class="w-full h-full flex flex-stretch">
            <div class="w-48 max-h-full border-r flex flex-col">
                <div class="w-full px-2 py-2 border-b">
                    <h2 class="text-xl font-semibold">Packages</h2>
                </div>
                <div class="flex-grow overflow-y-scroll">
                    <div class="px-2 border-b">
                        <inertia-link :href="route('packages.basic')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <span class="text-sm uppercase">Basic Details</span>
                        </inertia-link>
                    </div>
                    <div class="px-2 border-b">
                        <inertia-link :href="route('packages.itinerary')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <icon name="dollar"></icon><span class="text-sm uppercase">Itinerary</span>
                        </inertia-link>
                    </div>
                    <div class="px-2 border-b">
                        <inertia-link :href="route('packages.inclusions')" class="block  py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <icon name="globe"></icon>
                            <span class="text-sm uppercase">Inclusions & Exclusions</span>
                        </inertia-link>
                    </div>
                    <div class="px-2 border-b">
                        <inertia-link :href="route('packages.pricing')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <icon name="globe"></icon><span class="text-sm uppercase">Pricing</span>
                        </inertia-link>
                    </div>
                    <div class="px-2 border-b">
                        <inertia-link :href="route('packages.information')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <icon name="globe"></icon><span class="text-sm uppercase">Information</span>
                        </inertia-link>
                    </div>
                    <div class="px-2 border-b">
                        <inertia-link :href="route('packages.filters')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <icon name="globe"></icon><span class="text-sm uppercase">Filters</span>
                            <!-- Age Range, Travel Styles, Accommodation Type -->
                        </inertia-link>
                    </div>
                    <div class="px-2 border-b">
                        <inertia-link :href="route('packages.settings')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <icon name="globe"></icon><span class="text-sm uppercase">Advanced Settings</span>
                        </inertia-link>
                    </div>
                </div>
            </div>
            <div class="flex-grow overflow-y-scroll">
                <div class="w-full">
                    <div class="w-full h-full">
                        <slot/>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
export default {
    props: {
        title: String
    },
}
</script>