<template>
    <settings title="Create User">
        <div class="p-12">
            <h1 class="mb-8 font-bold text-xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('users')">Users</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> Create
            </h1>
            <div class="bg-white rounded shadow max-w-lg">
                <form @submit.prevent="submit">
                    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <div class="w-full flex">
                            <select-input v-model="form.title" :required="true" :errors="$page.errors.title" class="pr-6 pb-8 w-full lg:w-1/2" label="Title" >
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Ms">Ms</option>
                                <option value="Miss">Miss</option>
                                <option value="Master">Master</option>
                                <option value="Dr">Dr</option>
                            </select-input>
                        </div>
                        <text-input v-model="form.first_name" :required="true" :errors="$page.errors.first_name" class="pr-6 pb-8 w-full lg:w-1/2" label="First Name" />
                        <text-input v-model="form.last_name" :required="true" :errors="$page.errors.last_name" class="pr-6 pb-8 w-full lg:w-1/2" label="Last Name" />
                        <select-input v-model="form.reports_to" :required="true" :errors="$page.errors.reports_to" class="pr-6 pb-8 w-full lg:w-1/2" label="Reports To" >
                            <option v-for="user in users" :value="user.id">{{ userName(user) }}</option>
                        </select-input>
                        <text-input v-model="form.email" :required="true" :errors="$page.errors.email" class="pr-6 pb-8 w-full lg:w-1/2" label="Email" />
                        <text-input v-model="form.password" :required="true" :errors="$page.errors.password" class="pr-6 pb-8 w-full lg:w-1/2" label="Password" type="password"/>
                        <text-input v-model="form.phone" :required="true" :errors="$page.errors.phone" class="pr-6 pb-8 w-full lg:w-1/2" label="Phone" />
                        <text-input v-model="form.personal_email" :required="true" :errors="$page.errors.personal_email" class="pr-6 pb-8 w-full lg:w-1/2" label="Personal Email" />
                        <text-input v-model="form.personal_phone" :required="true" :errors="$page.errors.personal_phone" class="pr-6 pb-8 w-full lg:w-1/2" label="Personal Phone" />
                        <text-input v-model="form.permanent_address" :required="true" :errors="$page.errors.permanent_address" class="pr-6 pb-8 w-full lg:w-1/2" label="Permanent Address" />
                        <text-input v-model="form.current_address" :required="true" :errors="$page.errors.current_address" class="pr-6 pb-8 w-full lg:w-1/2" label="Current Address" />
                        <text-input v-model="form.city" :required="true" :errors="$page.errors.city" class="pr-6 pb-8 w-full lg:w-1/2" label="City" />
                        <text-input v-model="form.region" :required="true" :errors="$page.errors.region" class="pr-6 pb-8 w-full lg:w-1/2" label="Province/State" />
                        <select-input v-model="form.country" :required="true" :errors="$page.errors.country" class="pr-6 pb-8 w-full lg:w-1/2" label="Country">
                            <option v-for="country in countries" :value="country.cca2">{{ country.name }}</option>
                        </select-input>
                        <text-input v-model="form.postal_code" :errors="$page.errors.postal_code" class="pr-6 pb-8 w-full lg:w-1/2" label="Postal code" />
                    </div>
                    <div class="px-8 py-4 bg-grey-lightest border-t border-gray-200 flex justify-end items-center">
                        <loading-button :loading="sending" class="btn-indigo" type="submit">Create User</loading-button>
                    </div>
                </form>
            </div>
        </div>
    </settings>
</template>

<script>
export default {
    remember: 'form',
    props: {
        countries: Array,
        users: Array
    },
    data() {
        return {
            sending: false,
            form: {
                title: 'Mr',
                reports_to: 1,
                first_name: null,
                last_name: null,
                email: null,
                password: null,
                phone: null,
                personal_phone: null,
                personal_email: null,
                city: null,
                region: null,
                country: 'IN',
                permanent_address: null,
                current_address: null,
                owner: false,
            },
        }
    },
    methods: {
        submit() {
            this.sending = true
            this.$inertia.post(this.route('users.store'), this.form)
                .then(() => this.sending = false)
        },
        userName(user) {
			return `${user.title}. ${user.first_name} ${user.last_name}`;
		}
    },
}
</script>
