<template>
	<settings :title="`${form.first_name} ${form.last_name}`">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('users')">Users</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> {{ form.first_name }} {{ form.last_name }}
            </h1>
			<trashed-message v-if="user.deleted_at" class="mb-6" @restore="restore">
				This user has been deleted.
			</trashed-message>
			<div class="bg-white rounded shadow overflow-hidden max-w-lg">
				<form @submit.prevent="submit">
					<div class="p-8 -mr-6 -mb-8 flex flex-wrap">
						<div class="w-full flex">
							<select-input v-model="form.title" :required="true" :errors="$page.errors.title" class="pr-6 pb-8 w-full lg:w-1/2" label="Title" >
								<option value="Mr">Mr</option>
								<option value="Mrs">Mrs</option>
								<option value="Ms">Ms</option>
								<option value="Miss">Miss</option>
								<option value="Master">Master</option>
								<option value="Dr">Dr</option>
							</select-input>
						</div>
						<text-input v-model="form.first_name" :required="true" :errors="$page.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="First Name" />
						<text-input v-model="form.last_name" :required="true" :errors="$page.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Last Name" />
						<text-input v-model="form.email" :required="true" :errors="$page.errors.email" class="pr-6 pb-8 w-full lg:w-1/2" label="Email" />
						<text-input v-model="form.phone" :required="true" :errors="$page.errors.phone" class="pr-6 pb-8 w-full lg:w-1/2" label="Phone" />
						<text-input v-model="form.personal_email" :required="true" :errors="$page.errors.personal_email" class="pr-6 pb-8 w-full lg:w-1/2" label="Personal Email" />
						<text-input v-model="form.personal_phone" :required="true" :errors="$page.errors.personal_phone" class="pr-6 pb-8 w-full lg:w-1/2" label="Personal Phone" />
						<text-input v-model="form.permanent_address" :required="true" :errors="$page.errors.permanent_address" class="pr-6 pb-8 w-full lg:w-1/2" label="Permanent Address" />
						<text-input v-model="form.current_address" :required="true" :errors="$page.errors.current_address" class="pr-6 pb-8 w-full lg:w-1/2" label="Current Address" />
						<text-input v-model="form.city" :required="true" :errors="$page.errors.city" class="pr-6 pb-8 w-full lg:w-1/2" label="City" />
						<text-input v-model="form.region" :required="true" :errors="$page.errors.region" class="pr-6 pb-8 w-full lg:w-1/2" label="Province/State" />
						<select-input v-model="form.country" :required="true" :errors="$page.errors.country" class="pr-6 pb-8 w-full lg:w-1/2" label="Country">
							<option v-for="country in countries" :value="country.cca2">{{ country.name }}</option>
						</select-input>
						<text-input v-model="form.postal_code" :errors="$page.errors.postal_code" class="pr-6 pb-8 w-full lg:w-1/2" label="Postal code" />
					</div>
					<div class="px-8 py-4 bg-grey-lightest border-t border-grey-lighter flex items-center">
						<button v-if="!user.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Delete User</button>
						<loading-button :loading="sending" class="btn-indigo ml-auto" type="submit">Update User</loading-button>
					</div>
				</form>
			</div>
		</div>
	</settings>
</template>

<script>
export default {
	props: {
		user: Object,
		countries: Array
	},
	remember: 'form',
	data() {
		return {
			sending: false,
			form: {
				title: this.user.title,
                first_name: this.user.first_name,
                last_name: this.user.last_name,
                phone: this.user.phone,
				personal_phone: this.user.personal_phone,
				email: this.user.email,
                personal_email: this.user.personal_email,
                city: this.user.city,
                region: this.user.region,
                country: this.user.country,
                permanent_address: this.user.permanent_address,
				current_address: this.user.current_address,
				postal_code: this.user.postal_code,
			},
		}
	},
	methods: {
		submit() {
			this.sending = true
			this.$inertia.put(this.route('users.update', this.user.id), this.form)
			.then(() => this.sending = false)
		},
		destroy() {
			if (confirm('Are you sure you want to delete this user?')) {
				this.$inertia.delete(this.route('users.destroy', this.user.id))
			}
		},
		restore() {
			if (confirm('Are you sure you want to restore this user?')) {
				this.$inertia.put(this.route('users.restore', this.user.id))
			}
		},
	},
}
</script>