@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800');

@tailwind base;

@import "reset.css";

@tailwind components;

@tailwind utilities;

@import "buttons.css";

@import "lists.css";

@import "form.css";

@import "animate.css";

@import "~vue-wysiwyg/dist/vueWysiwyg.css";

@import "~vue-multiselect/dist/vue-multiselect.min.css";

html, body {
    background-color: #fff;
    color: #212221;
    margin: 0;
}

.dropdown:focus {
    outline: none !important;
}

.max-lines-3 {
    /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5em;
    line-height: 1.5em;
}

.max-lines-4 {
    /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 6em;
    line-height: 1.5em;
}

.max-lines-6 {
    /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 9em;
    line-height: 1.5em;
}

.is-active {
    color:blue
}