a {
	color: inherit;
	text-decoration: none;
}

input:focus, select:focus, textarea:focus, button:focus, div:focus, a:focus {
	outline: none;
}

input:active, select:active, textarea:active, button:active, div:active, a:active {
	outline: none;
}