@responsive {
    .col-count-1{
        -webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1;
    }
  
    .col-count-2{
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
    }

    .col-count-3{
        -webkit-column-count: 3;
           -moz-column-count: 3;
                column-count: 3;
    }

    .col-gap-20px {
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
    }

    .col-gap-12 {
        -webkit-column-gap: 3rem;
           -moz-column-gap: 3rem;
                column-gap: 3rem;
    }
}

.col-count-7{
    -webkit-column-count: 7;
       -moz-column-count: 7;
            column-count: 7;
}

.col-count-8{
    -webkit-column-count: 8;
       -moz-column-count: 8;
            column-count: 8;
}

.col-gap-sm{
    -webkit-column-gap: 0.85rem;
       -moz-column-gap: 0.85rem;
            column-gap: 0.85rem;
}

.avoid-break-inside{
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.gradient {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(0,0,0,0)),color-stop(0,rgba(0,0,0,0)),color-stop(97%,rgba(0,0,0,.63)),color-stop(99%,rgba(0,0,0,.65)));
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0,rgba(0,0,0,.63) 97%,rgba(0,0,0,.65) 99%);
}

.overlay {
    @apply tw-absolute tw-inset-0 tw-w-full;
}

.active {
    @apply tw-border-primary-600;
}

.scroll-margin-top-16 {
    scroll-margin-top: 60px;
}