<template>
	<settings>
		<div class="p-12">
			<h2 class="mb-8 font-bold text-3xl">Package Settings</h2>
            <div class="bg-white rounded shadow">
                <form @submit.prevent class="text-sm">
                    <div class="p-8 flex flex-col">
                        <div class="tw-w-full">
                            <div v-if="!isEditing">
                                <div class="mb-8 border-b" v-for="(setting, index) in form.settings" :key="`setting-${index}`">
                                    <div class="flex justify-between">
                                        <h2 class="mb-4 uppercase font-bold">Setting {{index+1}}</h2>
                                        <button type="button" @click="removeSetting(index)" class="text-red-600 font-bold outline-none">X</button>
                                    </div>
                                    
                                    <text-input v-model="setting.title" class="pr-6 pb-8 w-full lg:w-1/2" label="Title" />
                                    <div class="mb-2 animated fadeIn">
                                        <vue-editor v-model="setting.description" class="pr-6 pb-8 w-full" :editMode="true"></vue-editor>
                                    </div>
                                </div>
                                <button class="btn-indigo w-1/5" type="button" @click="addNewSetting">Add Setting</button>
                            </div>
                            <div v-else>
                                <text-input v-model="form.editSetting.title" class="pr-6 pb-8 w-full lg:w-1/2" label="Title" />
                                <div class="mb-2 animated fadeIn">
                                    <vue-editor v-model="form.editSetting.description" class="pr-6 pb-8 w-full" :editMode="true"></vue-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-end items-center">
                        <submit-button :handler="submit" form-id="package-setting-create" class="btn-indigo" type="submit">Submit</submit-button>
                        <!--<submit-button v-else :handler="update" form-id="package-setting-update" class="btn-indigo" type="submit">Update</submit-button>-->
                    </div>
                </form>
            </div>
        </div>
    </settings>
</template>

<script>
export default {
    props: {
        packageSetting: Object
    },
	data() {
		return {
			form: {
                settings: [],
                editSetting: {
                    title: '',
                    description: ''
                }
            },
		}
	},
	methods: {
        submit() {
            if(this.isEditing) {
                return this.$inertia.put(this.route('settings.packages.update', this.packageSetting.id), this.form.editSetting);
            }
            return this.$inertia.post(this.route('settings.packages'), this.form.settings);
        },
        update() {
            
        },
		reset() {
			this.form = _.mapValues(this.form, () => {settings: []});
        },
        getNewSettingsObject() {
            return {
                title: '',
                description: ''
            }
        },
        addNewSetting() {
            this.form.settings.push(this.getNewSettingsObject());
        },
        removeSetting(index) {
            this.form.settings.splice(index,1);
        }
    },
    computed: {
        isEditing() {
            return (this.packageSetting && this.packageSetting.id) ? true : false;
        }
    },
    mounted() {
        this.form.settings.push(this.getNewSettingsObject());
        if(this.isEditing) {
            this.form.editSetting.title = this.packageSetting.title;
            this.form.editSetting.description = this.packageSetting.description;
        }
    }
}
</script>