<template>
	<settings>
		<div class="p-12">
			<h1 class="mb-8 font-bold text-3xl">Package Settings</h1>
            <div class="mb-6 flex justify-between items-center">
				<inertia-link class="btn-indigo ml-4" :href="route('settings.packages.create')">
					Create Package Settings
				</inertia-link>
			</div>
            <div class="bg-white rounded shadow">
                <table class="w-full whitespace-no-wrap">
                    <thead>
                        <tr class="text-left font-bold">
                            <th class="px-6 pt-6 pb-4">#</th>
                            <th class="px-6 pt-6 pb-4">Title</th>
                            <th class="px-6 pt-6 pb-4">Code</th>
                            <th class="px-6 pt-6 pb-4" colspan="2">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(setting, index) in packageSettings" :key="`package-setting-${setting.id}`" class="hover:bg-gray-100 focus-within:bg-gray-100">
                            <td class="border-t">
                                <inertia-link class="px-6 py-4 flex items-center focus:text-indigo-400" :href="route('settings.packages.edit', setting.id)">
                                    <span>{{index+1}}</span>
                                </inertia-link>
                            </td>
                            <td class="border-t">
                                <inertia-link class="px-6 py-4 flex items-center focus:text-indigo-400" :href="route('settings.packages.edit', setting.id)">
                                    <span>{{setting.title}}</span>
                                </inertia-link>
                            </td>
                            <td class="border-t">
                                <inertia-link class="px-6 py-4 flex items-center focus:text-indigo-400" :href="route('settings.packages.edit', setting.id)">
                                    <span>{{setting.slug}}</span>
                                </inertia-link>
                            </td>
                            <td class="border-t w-px">
                                <inertia-link class="px-4 flex items-center" :href="route('settings.packages.edit', setting.id)" tabindex="-1">
                                    <icon name="cheveron-right" type="svg" class="block w-6 h-6 fill-grey" />
                                </inertia-link>
                            </td>
                        </tr>
                        <tr v-if="packageSettings.length === 0">
                            <td class="border-t px-6 py-4" colspan="4">No package settings found.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </settings>
</template>

<script>
export default {
    props: {
        packageSettings: {
            type: Array,
            default () {
                return [];
            }
        }
    }
}
</script>