<template>
	<layout title="Dashboard">
		<div class="p-12" v-if="isUserAuthenticated">
			Welcome To Columbus Vacations {{ userName }}
		</div>
		<div class="w-full">
			<div class=" w-1/2 text-center p-2">
				<inquiry-stats></inquiry-stats>
			</div>
		</div>
	</layout>
</template>

<script>
import InquiryStats from './Inquiry-Stats'
export default {
	data() {
		return {}
	},
	computed:{
		isUserAuthenticated() {
			return this.$page && this.$page.auth && this.$page.auth.user && Object.keys(this.$page.auth.user).length
		},
		userName() {
			return this.$page.auth.user.first_name + '  ' + this.$page.auth.user.last_name
		}
	},
	components:{
		InquiryStats
	}
}
</script>