<template>
    <table class="table-auto">
        <template v-if="!groupBy">
            <tr>
                <td colspan="2">
                    You don't have any inquiries assigned.
                </td>
            </tr>
        </template>
        <template v-else>
            <caption>  Inquiry statistics </caption>
            <tr v-for="statusDetails in groupBy" :key=" 'status-id-' + statusDetails.status_id">
                <td style="width:80%">
                    <strong> {{ statusDetails.status }} </strong>
                </td>
                <td>
                    {{ statusDetails.total }}
                </td>
            </tr>
        </template>
    </table>
</template>
<script>
export default {
    data() {
        return {
            groupBy:[  ]
        }
    },
    methods:{
        fetchInquiryStats() {
            axios.get(this.route('inquiries.group-by-status'))
                .then( response => this.groupBy = response.data )
        }
    },
    created() {
        this.fetchInquiryStats()
    }
}
</script>