<template>
    <layout title="Create Category">
        <div class="p-12">
            <h1 class="mb-8 font-bold text-xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('faqs')">FAQs</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> Create Category
            </h1>
            <div class="bg-white rounded shadow max-w-lg">
                <form @submit.prevent>
                    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <text-input v-model="form.label" :required="true" :errors="$page.errors.label" class="pr-6 pb-8 w-full" label="Question" />
                    </div>
                    <div class="px-8 py-4 bg-grey-lightest border-t border-gray-200 flex justify-end items-center">
                        <submit-button :handler="submit" form-id="faq-edit" class="btn-indigo" type="submit">
                            Create FAQ Category
                        </submit-button>
                    </div>
                </form>
            </div>
        </div>
    </layout>
</template>

<script>
export default {
    props:{
        categories:{  },
    },
    data() {
        return {
            form: {  label:'' }
        }
    },
    methods:{
        submit() {
            return this.$inertia.post(this.route('faq-categories.store'), this.form)
        }
    }
}
</script>

<style>

</style>
