<template>
	<settings title="form.name">
		<div class="p-12">
			<div class="flex justify-between mb-8 items-center">
				<h1 class="font-bold text-xl">
					<inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('countries')">Countries</inertia-link>
					<span class="text-indigo-400 font-medium">/</span> {{ country.name }}
				</h1>
				<inertia-link class="btn-indigo" :href="route('destinations.create', {country: country.id})">Create Destination</inertia-link>
			</div>
			
			<div class="bg-white rounded shadow overflow-hidden max-w-lg">
				<form @submit.prevent="submit">
					<div class="p-8 -mr-6 -mb-8 flex flex-wrap">
						<check-box v-model="form.serving" class="pr-6 pb-8 w-full" label="Serving"/>
						<textareainput v-model="form.searchable_terms" :errors="$page.errors.searchable_terms" class="pr-6 pb-8 w-full" label="Searchable Terms" />
						<textareainput v-model="form.short_description" :errors="$page.errors.short_description" class="pr-6 pb-8 w-full" label="Short Description" />
						<textareainput v-model="form.long_description" :errors="$page.errors.long_description" class="pr-6 pb-8 w-full" label="Long Description" />
					</div>
					<div class="px-8 py-4 bg-grey-lightest border-t border-grey-lighter flex items-center">
						<loading-button :loading="sending" class="btn-indigo ml-auto" type="submit">Update Country</loading-button>
					</div>
				</form>
			</div>
		</div>
	</settings>
</template>

<script>
export default {
	props: {
		country: Object
	},
	remember: 'form',
	data() {
		return {
			sending: false,
			form: {
				serving: this.country.serving,
				searchable_terms: this.country.searchable_terms,
				short_description: this.country.short_description,
				long_description: this.country.long_description
			},
		}
	},
	methods: {
		submit() {
			this.sending = true
			this.$inertia.put(this.route('countries.update', this.country.id), this.form)
			.then(() => this.sending = false)
		},
		createDestination() {
			this.$inertia.get(this.route('destinations'))
		}
	},
}
</script>