<template>
	<settings title="Countries">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-3xl">Countries</h1>
			<div class="mb-6 flex justify-between items-center">
				<search-filter v-model="form.search" class="w-full max-w-sm mr-4" @reset="reset">
					<label class="block text-grey-darkest">Status:</label>
					<select v-model="form.serving" class="mt-1 w-full form-select">
                        <option value="all">All</option>
						<option value="serving">Serving</option>
                        <option value="not-serving">Not Serving</option>
					</select>
				</search-filter>
			</div>
			<div class="bg-white rounded shadow overflow-x-auto">
				<table class="w-full whitespace-no-wrap">
					<tr class="text-left font-bold">
						<th class="px-6 pt-6 pb-4">Name</th>
						<th class="px-6 pt-6 pb-4">Country Code</th>
						<th class="px-6 pt-6 pb-4" colspan="2">Is Serving</th>
					</tr>
					<tr v-for="country in countries" :key="country.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center focus:text-indigo-400" :href="route('countries.edit', country.id)">
								{{ country.name }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center" :href="route('countries.edit', country.id)" tabindex="-1">
							    {{ country.cca2 }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center" :href="route('countries.edit', country.id)" tabindex="-1">
								{{ country.serving ? 'Yes' : 'No' }}
							</inertia-link>
						</td>
						<td class="border-t w-px">
							<inertia-link class="px-4 flex items-center" :href="route('countries.edit', country.id)" tabindex="-1">
								<icon name="cheveron-right" type="svg" class="block w-6 h-6 fill-grey" />
							</inertia-link>
						</td>
					</tr>
					<tr v-if="countries.length === 0">
						<td class="border-t px-6 py-4" colspan="4">No countries found.</td>
					</tr>
				</table>
			</div>
			<h2 class="my-8 font-bold text-2xl">Serving Countries</h2>
			<div class="bg-white rounded shadow overflow-x-auto">
				<table class="w-full whitespace-no-wrap">
					<tr class="text-left font-bold">
						<th class="px-6 pt-6 pb-4">Name</th>
						<th class="px-6 pt-6 pb-4" colspan="2">Country Code</th>
					</tr>
					<tr v-for="servingCountry in servingCountries" :key="servingCountry.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center focus:text-indigo-400" :href="route('countries.edit', servingCountry.id)">
								{{ servingCountry.name }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center" :href="route('countries.edit', servingCountry.id)" tabindex="-1">
							    {{ servingCountry.cca2 }}
							</inertia-link>
						</td>
						<td class="border-t w-px">
							<inertia-link class="px-4 flex items-center" :href="route('countries.edit', servingCountry.id)" tabindex="-1">
								<icon name="cheveron-right" type="svg" class="block w-6 h-6 fill-grey" />
							</inertia-link>
						</td>
					</tr>
					<tr v-if="servingCountries.length === 0">
						<td class="border-t px-6 py-4" colspan="4">No serving countries found.</td>
					</tr>
				</table>
			</div>
		</div>
	</settings>
</template>

<script>
export default {
	props: {
		countries: Array,
		servingCountries: Array,
		filters: Object,
	},
	data() {
		return {
			form: {
				search: this.filters.search,
				serving: this.filters.serving,
			},
		}
	},
	watch: {
		form: {
			handler: _.throttle(function() {
                let query = _.pickBy(this.form)
                this.$inertia.replace(this.route('countries', Object.keys(query).length ? query : { remember: 'forget' }))
            }, 150),
            deep: true,
		},
	},
	methods: {
		reset() {
			this.form = _.mapValues(this.form, () => null)
		}
	},
}
</script>
