<template>
	<layout title="Create Account">
		<div class="p-12">
            <h1 class="mb-8 font-bold text-3xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('destinations')">Destinations</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> Create
            </h1>
            <div class="bg-white rounded shadow max-w-lg">
                <form @submit.prevent="submit">
                    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <select-input v-model="form.country_code" :required="true" :errors="$page.errors.country_code" class="pr-6 pb-8 w-full lg:w-1/2" label="Select Country">
                            <option v-for="country in servingCountries" :value="country.cca2">{{country.name}} - {{country.cca2}}</option>
                        </select-input>
                        <text-input v-model="form.name" :errors="$page.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Destination Name" />
                        <text-input v-model="form.code" :errors="$page.errors.code" class="pr-6 pb-8 w-full lg:w-1/2" label="Destination Code" />
                        <select-input v-model="form.type" :errors="$page.errors.type" class="pr-6 pb-8 w-full lg:w-1/2" label="Destination Type">
                            <option value="city">City</option>
                            <option value="region">Region</option>
                        </select-input>
                        <text-input v-model="form.lat" :errors="$page.errors.lat" class="pr-6 pb-8 w-full lg:w-1/2" label="Latitude" />
                        <text-input v-model="form.lng" :errors="$page.errors.lng" class="pr-6 pb-8 w-full lg:w-1/2" label="Longitude" />
                        <textareainput v-model="form.searchable_terms" :errors="$page.errors.searchable_terms" class="pr-6 pb-8 w-full" label="Searchable Terms" />
                        <textareainput v-model="form.short_description" :errors="$page.errors.short_description" class="pr-6 pb-8 w-full" label="Short Description" />
						<textareainput v-model="form.long_description" :errors="$page.errors.long_description" class="pr-6 pb-8 w-full" label="Long Description" />
                    </div>
                    <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-end items-center">
                        <loading-button :loading="sending" class="btn-indigo" type="submit">Create Destination</loading-button>
                    </div>
                </form>
            </div>
		</div>
	</layout>
</template>

<script>
export default {
    props: {
        servingCountries: Array,
        selectedCountry: Object
    },
    data() {
        return {
            sending: false,
            form: {
                name: '',
                country_code: null,
                code: '',
                type: '',
                searchable_terms: '',
                short_description: '',
                long_description: '',
                lat: 0,
                lng: 0
            },
        }
    },
    methods: {
        submit() {
            this.$inertia.post(this.route('destinations.store'), this.form)
            .then(() => {
                this.sending = false;
            });
        },
    },
    mounted() {
        this.form.country_code = this.selectedCountry && this.selectedCountry.serving ? this.selectedCountry.cca2 : null;
    }
}
</script>