<template>
	<settings title="form.name">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('destinations')">Destinations</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> {{ destination.name }}
            </h1>
			<trashed-message v-if="destination.deleted_at" class="mb-6" @restore="restore">
				This destination has been deleted.
			</trashed-message>
			<div class="bg-white rounded shadow overflow-hidden max-w-lg">
				<form @submit.prevent="submit">
                    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <div class="pr-6 pb-8 w-full">
							<h4 class="text-indigo-400 inline-block text-xl">Country:</h4> <span class="text-xl">{{destination.country_name}}</span>
						</div>
                        <text-input v-model="form.name" :errors="$page.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Destination Name" />
                        <text-input v-model="form.code" :errors="$page.errors.code" class="pr-6 pb-8 w-full lg:w-1/2" label="Destination Code" />
                        <select-input v-model="form.type" :errors="$page.errors.type" class="pr-6 pb-8 w-full lg:w-1/2" label="Destination Type">
                            <option value="city">City</option>
                            <option value="region">Region</option>
                        </select-input>
                        <text-input v-model="form.lat" :errors="$page.errors.lat" class="pr-6 pb-8 w-full lg:w-1/2" label="Latitude" />
                        <text-input v-model="form.lng" :errors="$page.errors.lng" class="pr-6 pb-8 w-full lg:w-1/2" label="Longitude" />
                        <textareainput v-model="form.searchable_terms" :errors="$page.errors.searchable_terms" class="pr-6 pb-8 w-full" label="Searchable Terms" />
						<textareainput v-model="form.short_description" :errors="$page.errors.short_description" class="pr-6 pb-8 w-full" label="Short Description" />
						<textareainput v-model="form.long_description" :errors="$page.errors.long_description" class="pr-6 pb-8 w-full" label="Long Description" />
                    </div>
                    <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-between items-center">
						<button v-if="!destination.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Delete Destination</button>
                        <loading-button :loading="sending" class="btn-indigo ml-auto" type="submit">Update Destination</loading-button>
                    </div>
                </form>
			</div>
		</div>
	</settings>
</template>

<script>
export default {
	props: {
		destination: Object
	},
	remember: 'form',
	data() {
		return {
			sending: false,
			form: {
				name: this.destination.name,
                code: this.destination.code,
                type: this.destination.type,
				searchable_terms: this.destination.searchable_terms,
				short_description: this.destination.short_description,
				long_description: this.destination.long_description,
                lat: this.destination.lat,
                lng: this.destination.lng
			},
		}
	},
	methods: {
		submit() {
			this.sending = true
			this.$inertia.put(this.route('destinations.update', this.destination.id), this.form)
			.then(() => this.sending = false)
		},
		destroy() {
			if (confirm('Are you sure you want to delete this destination?')) {
				this.$inertia.delete(this.route('destinations.destroy', this.destination.id))
			}
		},
		restore() {
			if (confirm('Are you sure you want to restore this destination?')) {
				this.$inertia.put(this.route('destinations.restore', this.destination.id))
			}
		},
	},
}
</script>