<template>
	<settings title="Countries">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-3xl">Destinations</h1>
			<div class="mb-6 flex justify-between items-center">
				<search-filter v-model="form.search" class="w-full max-w-sm mr-4" @reset="reset">
					<label class="block text-grey-darkest">Status:</label>
					<select v-model="form.trashed" class="mt-1 w-full form-select">
						<option :value="null" />
						<option value="with">With Trashed</option>
						<option value="only">Only Trashed</option>
					</select>
				</search-filter>
				<inertia-link class="btn-indigo" :href="route('destinations.create')">
					Create Destination
				</inertia-link>
			</div>
			<div class="bg-white rounded shadow overflow-x-auto">
				<table class="w-full whitespace-no-wrap">
					<tr class="text-left font-bold">
						<th class="px-6 pt-6 pb-4">Name</th>
						<th class="px-6 pt-6 pb-4">Type</th>
						<th class="px-6 pt-6 pb-4" colspan="2">Country</th>
					</tr>
					<tr v-for="destination in destinations" :key="destination.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center focus:text-indigo-400" :href="route('destinations.edit', destination.id)">
								{{ destination.name }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center" :href="route('destinations.edit', destination.id)" tabindex="-1">
							    {{ destination.type }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center" :href="route('destinations.edit', destination.id)" tabindex="-1">
								{{ getCountryName(destination.country_code) }}
							</inertia-link>
						</td>
						<td class="border-t w-px">
							<inertia-link class="px-4 flex items-center" :href="route('destinations.edit', destination.id)" tabindex="-1">
								<icon name="cheveron-right" type="svg" class="block w-6 h-6 fill-grey" />
							</inertia-link>
						</td>
					</tr>
					<tr v-if="destinations.length === 0">
						<td class="border-t px-6 py-4" colspan="4">No destinations found.</td>
					</tr>
				</table>
			</div>
		</div>
	</settings>
</template>

<script>
export default {
	props: {
		servingCountries: Array,
		destinations: Array,
		filters: Object,
	},
	data() {
		return {
			form: {
				search: this.filters.search,
				trashed: this.filters.trashed,
			},
		}
	},
	watch: {
		form: {
			handler: _.throttle(function() {
                let query = _.pickBy(this.form)
                this.$inertia.replace(this.route('destinations', Object.keys(query).length ? query : { remember: 'forget' }))
            }, 150),
            deep: true,
		},
	},
	methods: {
		reset() {
			this.form = _.mapValues(this.form, () => null)
		},
		getCountryName(countryCode) {
			let country = _.find(this.servingCountries, (country) => country.cca2 === countryCode)
			return country ? country.name : ''
		}
	},
}
</script>
