<template>
	<layout title="Create Account">
		<div class="p-12">
            <h1 class="mb-8 font-bold text-3xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('accounts')">Accounts</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> Create
            </h1>
            <div class="bg-white rounded shadow max-w-lg">
                <form @submit.prevent="submit">
                    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <text-input v-model="form.name" :required="true" :errors="$page.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Name" />
                        <text-input v-model="form.email" :errors="$page.errors.email" class="pr-6 pb-8 w-full lg:w-1/2" label="Email" />
                        <text-input v-model="form.phone" :errors="$page.errors.phone" class="pr-6 pb-8 w-full lg:w-1/2" label="Phone" />
                        <text-input v-model="form.address" :errors="$page.errors.address" class="pr-6 pb-8 w-full lg:w-1/2" label="Address" />
                        <text-input v-model="form.city" :errors="$page.errors.city" class="pr-6 pb-8 w-full lg:w-1/2" label="City" />
                        <text-input v-model="form.region" :errors="$page.errors.region" class="pr-6 pb-8 w-full lg:w-1/2" label="Province/State" />
                        <select-input v-model="form.country" :required="true" :errors="$page.errors.country" class="pr-6 pb-8 w-full lg:w-1/2" label="Country">
                            <option v-for="country in countries" :value="country.cca2">{{ country.name }}</option>
                        </select-input>
                        <text-input v-model="form.postal_code" :errors="$page.errors.postal_code" class="pr-6 pb-8 w-full lg:w-1/2" label="Postal code" />
                        <select-input v-model="form.type" :required="true" :errors="$page.errors.type" class="pr-6 pb-8 w-full lg:w-1/2" label="Account Type">
                            <option value="family">family</option>
                            <option value="organization">organization</option>
                        </select-input>
                        <div class="pr-6 pb-8 w-full">
                            <multiselect-input class="w-full lg:w-1/2" v-model="referredBy" track-by="id" formlabel="Referred By" label="fname" :url="routeUri('api.contacts')"
                                :allow-empty="false" placeholder="Search for a contact" :searchable="true" :internal-search="false" 
                                :clear-on-select="false" :close-on-select="true" :min-query-length="3">
                            </multiselect-input>
                        </div>
                    </div>
                    <div class="px-8 py-4 bg-grey-lightest border-t border-gray-200 flex justify-end items-center">
                        <loading-button :loading="sending" class="btn-indigo" type="submit">Create Organization</loading-button>
                    </div>
                </form>
            </div>
		</div>
	</layout>
</template>

<script>
export default {
    props: {
        countries: Array
    },
    data() {
        return {
            sending: false,
            referredBy: null,
            contacts: [],
            form: {
                name: null,
                email: null,
                phone: null,
                address: null,
                city: 'Hyderabad',
                region: 'Telangana',
                country: 'IN',
                postal_code: null,
                type: 'family',
                referred_by: null
            },
        }
    },
    methods: {
        submit() {
            this.addReferralToAccount();
            this.$inertia.post(this.route('accounts.store'), this.form)
            .then(() => {
                this.sending = false;
            });
        },
        addReferralToAccount() {
            if(!this.referredBy) {
                return; // No need to set, as account is already set.
            }
            this.form.referred_by = this.referredBy.id;
            console.log("Referred By ",this.form.referred_by);
        },
        contactName(contact) {
            return `${contact.fname} ${contact.lname}`
        }
    },
}
</script>
