<template>
	<layout :title="form.name">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-3xl">
				<inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('accounts')">Accounts</inertia-link>
				<span class="text-indigo-600 font-medium">/</span>
				{{ form.name }}
			</h1>
			<trashed-message v-if="account.deleted_at" class="mb-6" @restore="restore">
				This account has been deleted.
			</trashed-message>
			<div class="bg-white rounded shadow overflow-hidden max-w-lg">
				<form @submit.prevent="submit">
					<div class="p-8 -mr-6 -mb-8 flex flex-wrap">
						<text-input v-model="form.name" :required="true" :errors="$page.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Name" />
						<text-input v-model="form.email" :errors="$page.errors.email" class="pr-6 pb-8 w-full lg:w-1/2" label="Email" />
						<text-input v-model="form.phone" :errors="$page.errors.phone" class="pr-6 pb-8 w-full lg:w-1/2" label="Phone" />
						<text-input v-model="form.address" :errors="$page.errors.address" class="pr-6 pb-8 w-full lg:w-1/2" label="Address" />
						<text-input v-model="form.city" :errors="$page.errors.city" class="pr-6 pb-8 w-full lg:w-1/2" label="City" />
						<text-input v-model="form.region" :errors="$page.errors.region" class="pr-6 pb-8 w-full lg:w-1/2" label="Province/State" />
						<select-input v-model="form.country" :errors="$page.errors.country" class="pr-6 pb-8 w-full lg:w-1/2" label="Country">
                            <option v-for="country in countries" :value="country.cca2">{{ country.name }}</option>
                        </select-input>
						<text-input v-model="form.postal_code" :errors="$page.errors.postal_code" class="pr-6 pb-8 w-full lg:w-1/2" label="Postal code" />
						<select-input v-model="form.type" :required="true" :errors="$page.errors.type" class="pr-6 pb-8 w-full lg:w-1/2" label="Account Type">
                            <option value="family">family</option>
                            <option value="organization">organization</option>
                        </select-input>
						<div class="pr-6 pb-8 w-full" v-if="!showReferral()">
							<multiselect-input class="w-full lg:w-1/2" v-model="referredBy" track-by="id" formlabel="Referred By" label="fname" :url="routeUri('api.contacts')"
                                :allow-empty="false" placeholder="Search for a contact" :searchable="true" :internal-search="false" 
                                :clear-on-select="false" :close-on-select="true" :min-query-length="3">
                            </multiselect-input>
							<span class="text-xs cursor-pointer underline" v-if="referredBy" @click="toggleShowReferralField()">change</span>
                        </div>
						<div class="pr-6 pb-8 w-full" v-else>
							<h4 class="text-indigo-400 inline-block text-xl">Referred By:</h4>
							<span class="text-xl">{{contactName(referredBy)}}</span>
							<span class="text-xs cursor-pointer underline" @click="toggleShowReferralField()">change</span>
						</div>

					</div>
					<div class="px-8 py-4 bg-gray-100 border-t border-gray-400 flex items-center">
						<button v-if="!account.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Delete Account</button>
						<loading-button :loading="sending" class="btn-indigo ml-auto" type="submit">Update Account</loading-button>
					</div>
				</form>
			</div>
			<div class="mt-12 flex items-center">
				<h2 class="font-bold text-2xl">Contacts</h2>
				<inertia-link class="ml-12 btn-indigo" :href="route('contacts.create', {account: account.id})">Add New Contact</inertia-link>
			</div>
			
			<div class="mt-6 bg-white rounded shadow overflow-x-auto">
				<table class="w-full whitespace-no-wrap">
					<tr class="text-left font-bold">
						<th class="px-6 pt-6 pb-4">Name</th>
						<th class="px-6 pt-6 pb-4">City</th>
						<th class="px-6 pt-6 pb-4">Email</th>
						<th class="px-6 pt-6 pb-4" colspan="2">Phone</th>
					</tr>
					<tr v-for="contact in account.contacts" :key="contact.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center focus:text-indigo-600" :href="route('contacts.edit', contact.id)">
							{{ contactName(contact) }}
							<icon v-if="contact.deleted_at" name="trash" class="flex-no-shrink w-3 h-3 ml-2" />
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center" :href="route('contacts.edit', contact.id)" tabindex="-1">
							{{ contact.city }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center" :href="route('contacts.edit', contact.id)" tabindex="-1">
							{{ contact.email }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center" :href="route('contacts.edit', contact.id)" tabindex="-1">
							{{ contact.phone }}
							</inertia-link>
						</td>
						<td class="border-t w-px">
							<inertia-link class="px-4 flex items-center" :href="route('contacts.edit', contact.id)" tabindex="-1">
							<icon name="cheveron-right" class="block w-6 h-6" />
							</inertia-link>
						</td>
					</tr>
					<tr v-if="account.contacts.length === 0">
						<td class="border-t px-6 py-4" colspan="5">No contacts found.</td>
					</tr>
				</table>
			</div>
		</div>
	</layout>
</template>

<script>
export default {
	props: {
		account: Object,
		countries: Array
	},
	remember: 'form',
	data() {
		return {
			sending: false,
			referredBy: this.account.referredBy,
			showReferralField: this.account.referred_by,
			form: {
				name: this.account.name,
				email: this.account.email,
				phone: this.account.phone,
				address: this.account.address,
				city: this.account.city,
				region: this.account.region,
				country: this.account.country,
				postal_code: this.account.postal_code,
				type: this.account.type,
				referred_by: this.account.referred_by
			},
		}
	},
	methods: {
		submit() {
			if(this.referralChangedFromOther() && !confirm("Are you sure, you want to change the referral?")) {
				return;
			}
			this.sending = true;
			this.form.referred_by = this.referredBy ? this.referredBy.id: null;
			this.$inertia.put(this.route('accounts.update', this.account.id), this.form)
				.then(() => this.sending = false)
		},
		referralChangedFromOther() {
			// Check if the referral changed from the previous value, if set.
			if(!this.account.referredBy) {
				return false; // Previously the referral value is not set, so it doesnt matter, if it changes now
			}

			if(!this.referredBy || (this.account.referredBy.id !== this.referredBy.id)) {
				return true; // Referral was set before but it is not available now
			}
		},
		destroy() {
			if (confirm('Are you sure you want to delete this account?')) {
				this.$inertia.delete(this.route('accounts.destroy', this.account.id))
			}
		},
		restore() {
			if (confirm('Are you sure you want to restore this account?')) {
				this.$inertia.put(this.route('accounts.restore', this.account.id))
			}
		},
		contactName(contact) {
			return contact ? `${contact.title}. ${contact.fname} ${contact.lname}` : '';
		},
		showReferral() {
			return this.showReferralField;
		},
		toggleShowReferralField() {
			this.showReferralField = !this.showReferralField;
		}
	},
}
</script>
