<template>
	<layout title="Accounts">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-3xl">Accounts</h1>
			<div class="mb-6 flex justify-between items-center">
				<search-filter v-model="form.search" class="w-full max-w-sm mr-4" @reset="reset">
					<label class="block text-grey-darkest">Trashed:</label>
					<select v-model="form.trashed" class="mt-1 w-full form-select">
						<option :value="null" />
						<option value="with">With Trashed</option>
						<option value="only">Only Trashed</option>
					</select>
				</search-filter>
				<inertia-link class="btn-indigo" :href="route('accounts.create')">
					Create Account
				</inertia-link>
			</div>
			<div class="bg-white rounded shadow overflow-x-auto">
				<table class="w-full whitespace-no-wrap">
					<tr class="text-left font-bold">
						<th class="px-6 pt-6 pb-4">Name</th>
						<th class="px-6 pt-6 pb-4">City</th>
						<th class="px-6 pt-6 pb-4">Email</th>
						<th class="px-6 pt-6 pb-4" colspan="2">Phone</th>
					</tr>
					<tr v-for="account in accounts.data" :key="account.id" class="hover:bg-gray-200 focus-within:bg-gray-300">
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center focus:text-indigo-400" :href="route('accounts.edit', account.id)">
								{{ account.name }}
								<icon v-if="account.deleted_at" name="trash" class="flex-no-shrink w-3 h-3 fill-grey ml-2" />
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center" :href="route('accounts.edit', account.id)" tabindex="-1">
								{{ account.city }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center" :href="route('accounts.edit', account.id)" tabindex="-1">
							{{ account.email }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center" :href="route('accounts.edit', account.id)" tabindex="-1">
							{{ account.phone }}
							</inertia-link>
						</td>
						<td class="border-t w-px">
							<inertia-link class="px-4 flex items-center" :href="route('accounts.edit', account.id)" tabindex="-1">
								<icon name="cheveron-right" type="svg" class="block w-6 h-6 fill-grey" />
							</inertia-link>
						</td>
					</tr>
					<tr v-if="accounts.data.length === 0">
						<td class="border-t px-6 py-4" colspan="5">No accounts found.</td>
					</tr>
				</table>
			</div>

			<pagination :links="accounts.links" />
		</div>
	</layout>
</template>

<script>
export default {
	props: {
		accounts: Object,
		filters: Object,
	},
	data() {
		return {
			form: {
				search: this.filters.search,
				trashed: this.filters.trashed
			}
		}
	},
	methods: {
		reset() {
			this.form = _.mapValues(this.form, () => null)
		}
	},
	watch: {
		form: {
			handler: _.throttle(function() {
				let query = _.pickBy(this.form);
				this.$inertia.replace(this.route('accounts', Object.keys(query).length ? query : { remember: 'forget'}))
			}, 150),
			deep: true
		}
	}
}
</script>
