<template>
	<settings title="form.name">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('settings.filters')">Filters</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> 
				<span v-if="isEditing">{{ filter.name }}</span>
				<span v-else>Create Filter</span>
            </h1>
			<trashed-message v-if="isEditing && filter.deleted_at" class="mb-6" @restore="restore">
				This filter has been deleted.
			</trashed-message>
			<div class="bg-white rounded shadow overflow-hidden max-w-lg">
				<form @submit.prevent>
                    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <text-input v-model="form.name" :errors="$page.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Filter Name" />
                        <select-input v-model="form.filter_type" :errors="$page.errors.filter_type" class="pr-6 pb-8 w-full lg:w-1/2" label="Filter Type">
                            <option value="package">Package</option>
                            <option value="inquiry">Inquiry</option>
                            <option value="booking">Booking</option>
                        </select-input>
						<select-input v-if="!isEditing" v-model="form.parent_id" :errors="$page.errors.parent_id" class="pr-6 pb-8 w-full lg:w-1/2" label="Select Parent Filter">
                            <option v-for="parentFilter in filters" :key="parentFilter.id" :value="parentFilter.id">{{parentFilter.name}}</option>
                        </select-input>
						<textareainput v-model="form.description" :errors="$page.errors.description" class="pr-6 pb-8 w-full" label="Description" />
                    </div>
                    <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-between items-center">
						<button v-if="isEditing && !filter.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Delete Filter</button>
						<submit-button v-if="!isEditing" :handler="create" class="btn-indigo" type="submit">
                            Create Filter
                        </submit-button>
						<submit-button v-else :handler="update" class="btn-indigo" type="submit">
                            Update Filter
                        </submit-button>
						<!--
                        <loading-button :loading="sending" class="btn-indigo ml-auto" type="submit">Update Filter</loading-button>
						-->
                    </div>
                </form>
			</div>
		</div>
	</settings>
</template>

<script>
export default {
	props: {
		filter: Object,
		filters: {
			type: Array,
			default () {
				return [];
			}
		}
	},
	remember: 'form',
	computed: {
		isEditing() {
			return this.filter && this.filter.id;
		}
	},
	data() {
		return {
			form: {
				name: this.filter ? this.filter.name : '',
				parent_id: this.filter ? this.filter.parent_id : null,
                filter_type: this.filter ? this.filter.filter_type : 'package',
                description: this.filter ? this.filter.description : ''
			},
		}
	},
	methods: {
		create() {
			return this.$inertia.post(this.route('settings.filters.store'), this.form);
		},
		update() {
			return this.$inertia.put(this.route('settings.filters.update', this.filter.id), this.form);
		},
		destroy() {
			if (confirm('Are you sure you want to delete this filter?')) {
				this.$inertia.delete(this.route('settings.filters.destroy', this.filter.id))
			}
		},
		restore() {
			if (confirm('Are you sure you want to restore this filter?')) {
				this.$inertia.put(this.route('settings.filters.restore', this.filter.id))
			}
		},
	},
}
</script>