<template>
    <div>
        <label v-if="label" class="form-label inline-block" :for="id">{{ label }} : <sup v-if="required" class="text-red-500">*</sup></label>
        <input :checked="value" :id="id" type="checkbox" @input="$emit('input', $event.target.checked)">
        <div v-if="errors.length" class="form-error">{{ errors[0] }}</div>
    </div>
</template>

<script>
export default {
    props: {
        id: {
            type: String,
            default () {
                return `check-box-${this._uid}`;
            }
        },
        label: String,
        required: {
            type: Boolean,
            default () {
                return false
            }
        },
        value: Boolean,
        errors: {
			type: Array,
			default: () => [],
    	},
    }
}
</script>
