<template>
    <span> {{ formattedDate }} </span>
</template>

<script>
export default {
    props:['date', 'datetime'],
    data() {
        return {

        }
    },
    computed:{
        formattedDate() {
            return this.date ? dayjs(this.date).format('DD-MM-YYYY')
                        : this.datetime ? dayjs(this.datetime).format('DD-MM-YYYY h:mm A'): ''
        }
    }
}
</script>

<style>

</style>
