<template>
    <div>
        <input class="ml-2" v-bind="$attrs" :multiple="allowMultiple" type="file" ref="file" :name="uploadFieldName" :id="_uid" 
            @change="onFileChange($event.target.name, $event.target.files)">
        <div class="w-full">
            <progress-bar :progress="loadProgress"></progress-bar>
        </div>
        <span v-if="responseMessage">{{responseMessage}}</span>
    </div>
</template>

<script>
export default {
    inheritAttrs: false,
    props: {
        fileName: String,
        uploadPath: {
            type: String,
            required: true
        },
        allowMultiple: {
            type: Boolean,
            default: true
        }
    },
    data () {
        return {
            uploadFieldName: 'file',
            responseMessage: null,
            loadProgress: 0,
            uploadedFile: null
        }
    },
    methods: {
        onFileChange (eventName, files) {
            if(!files.length) {
                return;
            }
            console.log("Files", files);
            _.each(files, file => {
                this.uploadToServer(file);
            })
        },

        uploadToServer(file) {
            this.$emit('upload-start', {fileName: this.fileName});
            let formData = new FormData();
            formData.append(this.uploadFieldName, file);
            formData.append("uploadPath", this.uploadPath);
            formData.append("fileName", this.fileName);
            return axios.post(this.route('upload'),
                            formData,
                            {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                },
                                onUploadProgress: function( progressEvent ) {
                                    this.loadProgress = parseInt( Math.round( ( progressEvent.loaded * 100 ) / progressEvent.total ) );
                                }.bind(this)
                            }
                        )
                        .then( response => {
                            this.responseMessage = response.data.messgae;
                            this.$emit('uploaded', {
                                uploadedPath: response.data.path,
                                fileName: this.fileName
                            });
                        })
                        .catch( response => {
                            this.responseMessage = response.data.messgae;
                        })
        }
    }
}
</script>