<template>
	<component v-if="isIconTypeSVG" :is="svgComponentName" @click="$emit('click')"></component>
	<i v-else class="leading-loose h-8 w-8 text-center rounded bg-white text-indigo-800 mr-2 fa fas fab"
		:class=" 'fa-'+ iconFullName " @click="$emit('click')">
	</i>
</template>

<script>
import Trash from './SVG/Trash.vue' 
import  CheveronRight from './SVG/Cheveron-Right.vue'
import CheveronDown from  './SVG/Cheveron-Down.vue'
export default {
  props: {
	name: String,
	type:{
		default: 'icon'
	}
  },
  data() {
	return {
	    iconFullNameMap: {
			'booking' : 'book',
			'trip': 'plane',
			'destination': 'map-marker-alt',
			'location': 'map-marker-alt',
			'dollar': 'dollar-sign',
			'promotion': 'dollar-sign',
			'inquiry': 'question',
			'collection': 'layer-group',
			'settings': 'cog',
			'report': 'chart-pie',
			'agent': 'address-book',
			'agenct-contact': 'id-badge',
			'code': 'at'
	    }
	}
  },
  computed:{
	    isIconTypeSVG() {
		   return this.type == 'svg'
	    },
	    iconFullName() {
		    if( this.iconFullNameMap.hasOwnProperty(this.name))
		       return this.iconFullNameMap[this.name]
			return this.name 
		},
		svgComponentName() {
			return this.name
		}
  },
  components:{
	  CheveronDown,
	  CheveronRight,
	  Trash
  }
}
</script>

