<template>

<div>
	<portal-target name="dropdown" slim />
	<div class="flex h-screen items-stretch">
		<div class="bg-white">
			<div class="flex flex-col w-56 h-full bg-indigo-800 text-white">
				<div class="flex justify-center items-center mb-8 py-3 px-4 border-b border-gray-600">
					<img class="h-10" src="/images/columbus_monogram_red.png" alt="Columbus Logo">
				</div>
				<main-menu />
			</div>
		</div>
		<div class="flex-grow bg-gray-100 overflow-y-scroll">
			<div class="flex justify-between px-4 items-center border-b border-l border-gray-600 h-16 bg-indigo-800 text-white">
				Welcome to Columbus Vacations...!!!
				<dropdown class="mt-1" placement="bottom-end">
					<div class="flex items-center cursor-pointer select-none group text-white focus:opacity-25">
						<div class="group-hover:text-indigo-700 focus:text-indigo-700 mr-1 whitespace-no-wrap">
							<span>{{ $page.auth.user.first_name }}</span>
							<span class="hidden md:inline">{{ $page.auth.user.last_name }}</span>
						</div>
						<icon class="w-5 h-5 group-hover:fill-indigo-700 fill-current" name="cheveron-down" type="svg"/>
					</div>
					<div slot="dropdown" class="mt-2 py-2 shadow-lg bg-white rounded text-sm">
						<inertia-link class="block px-6 py-2 hover:bg-indigo-600 hover:text-white" :href="route('users.edit', $page.auth.user.id)">My Profile</inertia-link>
						<inertia-link class="block px-6 py-2 hover:bg-indigo-600 hover:text-white" :href="route('users')">Manage Users</inertia-link>
						<inertia-link class="block px-6 py-2 hover:bg-indigo-600 hover:text-white" :href="route('logout')" method="post">Logout</inertia-link>
					</div>
				</dropdown>
			</div>
			
			<flash-messages></flash-messages>

			<slot />

		</div>
	</div>
</div>

</template>

<script>
export default {
	props: {
		title: String,
	},
	data() {
		return {
			showUserMenu: false,
			accounts: null,
		}
	},
	watch: {
		title(title) {
			this.updatePageTitle(title)
		},
	},
	mounted() {
		this.updatePageTitle(this.title);
	},
	methods: {
		updatePageTitle(title) {
			document.title = title ? `${title} | ${this.$page.app.name}` : this.$page.app.name
		},
		hideDropdownMenus() {
			this.showUserMenu = false
		},
	},
}
</script>
