<template>
    <div class="h-full overflow-y-scroll">
        <div class="px-4">
            <div class="mb-6">
                <h5 class="text-xs uppercase leading-loose font-semibold">Leads & Bookings</h5>
                <inertia-link :href="route('inquiries')" class="block  py-2 leading-loose" active-class="border-l-4 border-red-600">
                    <icon name="inquiry"></icon>
                    <span class="text-sm">Inquiry</span>
                </inertia-link>
                <inertia-link :href="route('dashboard')" class="block items-center py-2 leading-loose" active-class="border-l-4 border-red-600">
                    <icon name="booking"></icon>
                    <span class="text-sm">Booking</span>
                </inertia-link>
            </div>
            <div class="mb-6">
                <h5 class="text-xs uppercase leading-loose font-semibold">Products</h5>
                <inertia-link :href="route('packages')" class="block  py-2 leading-loose" active-class="border-l-4 border-red-600">
                    <icon name="trip"></icon>
                    <span class="text-sm">Packages</span>
                </inertia-link>
                <inertia-link :href="route('collections')" class="block items-center py-2 leading-loose" active-class="border-l-4 border-red-600">
                    <icon name="collection"></icon>
                    <span class="text-sm">Collections</span>
                </inertia-link>
                <inertia-link :href="route('dashboard')" class="block items-center py-2 leading-loose" active-class="border-l-4 border-red-600">
                    <icon name="dollar"></icon>
                    <span class="text-sm">Promotions</span>
                </inertia-link>
            </div>
            <div class="mb-6">
                <h5 class="text-xs uppercase leading-loose font-semibold">User Management</h5>
                <inertia-link :href="route('accounts')" class="block  py-2 leading-loose" active-class="border-l-4 border-red-600">
                    <icon name="users"></icon>
                    <span class="text-sm">Accounts</span>
                </inertia-link>
                <inertia-link :href="route('contacts')" class="block items-center py-2 leading-loose" active-class="border-l-4 border-red-600">
                    <icon name="user"></icon>
                    <span class="text-sm">Customers</span>
                </inertia-link>
            </div>
            <!--
            <div class="mb-6">
                <h5 class="text-xs uppercase leading-loose font-semibold">Distribution</h5>
                <inertia-link :href="route('dashboard')" class="block  py-2 leading-loose" active-class="border-l-4 border-red-600">
                    <icon name="agent"></icon>
                    <span class="text-sm">Agents</span>
                </inertia-link>
                <inertia-link :href="route('dashboard')" class="block items-center py-2 leading-loose" active-class="border-l-4 border-red-600">
                    <icon name="agent-contact"></icon>
                    <span class="text-sm">Points of Contact</span>
                </inertia-link>
            </div>
            -->
            <!-- <div class="mb-6">
                <h5 class="text-xs uppercase leading-loose font-semibold">SMS & E-emails</h5>
                <inertia-link :href="route('sms-promotions')" class="block items-center py-2 leading-loose" active-class="border-l-4 border-red-600">
                    <icon name="bell"></icon>
                    <span class="text-sm">Promotions  </span>
                </inertia-link>
            </div> -->
            <div class="mb-6">
                <h5 class="text-xs uppercase leading-loose font-semibold">Miscellaneous</h5>
                <inertia-link :href="route('dashboard')" class="block  py-2 leading-loose" active-class="border-l-4 border-red-600">
                    <icon name="report"></icon>
                    <span class="text-sm">Reports</span>
                </inertia-link>
                <inertia-link :href="route('users')" class="block items-center py-2 leading-loose" active-class="border-l-4 border-red-600">
                    <icon name="settings"></icon>
                    <span class="text-sm">Settings</span>
                </inertia-link>
                <inertia-link :href="route('faqs')" class="block  py-2 leading-loose" active-class="border-l-4 border-red-600">
                    <icon name="inquiry"></icon>
                    <span class="text-sm">FAQs</span>
                </inertia-link>
            </div>
            <div class="mb-6">
                <h5 class="text-xs uppercase leading-loose font-semibold">Dowloads</h5>
                <a :href="route('db-backup')" class="block  py-2 leading-loose" active-class="border-l-4 border-red-600" target="_blank">
                    <icon name="database"></icon>
                    <span class="text-sm"> DB Back up</span>
                </a>
                <a :href="route('download-contact-numbers')" class="block  py-2 leading-loose" active-class="border-l-4 border-red-600" target="_blank">
                    <icon name="mobile"></icon>
                    <span class="text-sm">Mobile Numbers</span>
                </a>
            </div>
        </div>
        <!--
        <button class="block bg-gray-200 fixed bottom-0 left-0 w-56 p-4">
            close
        </button>
        -->
    </div>
</template>

<script>
export default {
    methods: {
        isUrl(...urls) {
            if (urls[0] === '') {
                return location.pathname.substr(1) === ''
            }
            return urls.filter(url => location.pathname.substr(1).startsWith(url)).length
        },
    }
}
</script>
