<template>    
    <div class="fixed inset-0 bg-gray-200 flex justify-center items-center" @click="closeModal">
        <div class="flex flex-col overflow-x-auto bg-white rounded" style="box-shadow: 2px 2px 20px 1px;" role="dialog" aria-labelledby="modalTitle" aria-describedby="modalDescription" @click.stop>
            <header class="flex justify-between p-4 font-bold border-b border-gray-300" id="modalTitle">
                <slot name="header">
                    This is a default title!
                    <button type="button" class="border-none text-lg p-4 cursor-pointer font-bold bg-transparent text-red-600" @click="closeModal" aria-label="Close modal">X</button>
                </slot>
            </header>
            <section class="relative px-3 py-6" id="modalDescription">
                <slot name="body">
                    I'm the default body
                </slot>
            </section>
            <footer class="border-t border-gray-300 flex justify-end p-4">
                <slot name="footer">
                    I'm the default footer!
                    <button type="button" class="bg-teal-600 px-2 text-white border-1 border-teal-600 rounded" @click="closeModal" aria-labelledby="Close">OK</button>
                </slot>
            </footer>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
        }
    },
    methods: {
        closeModal () {
            this.$emit('close');
        }
    }
}
</script>