<template>
    <div>
        <label v-if="formlabel" class="form-label" :for="id">{{formlabel}} : <sup v-if="required" class="text-red-500">*</sup></label>
        <vue-multiselect v-bind="$attrs" :loading="isLoading" ref="multiselect" :id="id" :value="value" :options="resultOptions" @search-change="getResources" @input="onInputChange">
            <template v-if="isCustomLabel" slot="option" slot-scope="props">
                <div class="option__desc">
                    <span class="option__title" v-html="getTitle(props.option)"></span><br>
                    <span class="option__small text-xs" v-html="getSmall(props.option)"></span>
                </div>
            </template>
        </vue-multiselect>
        <div v-if="errors.length" class="form-error">{{ errors[0] }}</div>
    </div>
</template>

<script>

export default {
    inheritAttrs: false,
    props: {
        formlabel: String,
        id: {
    		type: String,
      		default() {
        		return `vue-multiselect-${this._uid}`
      		},
        },
        minQueryLength: {
            type: Number,
            default: 0
        },
        url: {
            type: String,
            default: ''
        },
        value: [Object, String, Number, Array],
        required: {
            type: Boolean,
            default: false
        },
        errors: {
			type: Array,
			default: () => [],
        },
        searchableOptions:[ Array ],
        isCustomLabel:{
            type: Boolean,
            default: false,
        },
        getTitle:{
            type: Function,
            default: () =>{}
        },
        getSmall:{
            type: Function,
            default: () =>{}
        }
    },
    data() {
        return {
            options: [],
            isLoading: false
        }
    },
    computed:{
        resultOptions() {
            return this.options ? this.options : this.searchableOptions
        }
    },
    methods: {
        getResources(query) {
            if( !this.url )
                return
            if(!query || query.length < this.minQueryLength) {
                return;
            }
            this.startLoading();
            console.log("URL", this.url);
            axios.get(this.url, {
                params: {
                    query: query
                }
            }).then((response) => {
                this.stopLoading();
                this.options = response.data;
            }).catch((error) => {
                this.stopLoading();
            });
        },
        startLoading() {
            this.isLoading = true;
        },
        stopLoading() {
            this.isLoading = false;
        },
        onInputChange(value) {
            this.$emit('input', value);
        }
    }
}
</script>