<template>
    <div class="progress-bar-wrapper w-full bg-gray-200">
        <div :class="bgColorClass" class="progress-bar tw-h-6" :style="{width: progress}">
        </div>
    </div>
</template>

<script>
export default {
    props: {
        progress: {
            type: Number,
            default: 50
        },
        bgColorClass: {
            type: String,
            default: 'bg-indigo-600'
        }
    }
}
</script>