<template>
    <div>
        <input :checked="value" :id="id" type="radio" @input="$emit('input', $event.target.checked)">
        <label v-if="label" class="form-label inline-block" :for="id">{{ label }}</label>
        <div v-if="errors.length" class="form-error">{{ errors[0] }}</div>
    </div>
</template>

<script>
export default {
    props: {
        id: {
            type: String,
            default () {
                return `radio-button-${this._uid}`;
            }
        },
        label: String,
        required: {
            type: Boolean,
            default () {
                return false
            }
        },
        value: {
            required: true,
            type: String
        },
        errors: {
			type: Array,
			default: () => [],
    	},
    }
}
</script>
