<template>
    <layout title="Settings">
        <div class="w-full h-full flex flex-stretch">
            <div class="w-48 max-h-full border-r flex flex-col">
                <div class="w-full px-2 py-2 border-b">
                    <h2 class="text-xl font-semibold">Categories</h2>
                </div>
                <div class="flex-grow overflow-y-scroll">
                    <div class="px-2 border-b">
                        <inertia-link :href="route('users')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <span class="text-sm uppercase">Users & Permissions</span>
                        </inertia-link>
                    </div>
                    <div class="px-2 border-b">
                        <inertia-link :href="route('users.create')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <span class="text-sm uppercase">Taxes & Fees</span>
                        </inertia-link>
                    </div>
                    <div class="px-2 border-b">
                        <inertia-link :href="route('countries')" class="block  py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <span class="text-sm uppercase">Countries</span>
                        </inertia-link>
                    </div>
                    <div class="px-2 border-b">
                        <inertia-link :href="route('destinations')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <span class="text-sm uppercase">Destinations</span>
                        </inertia-link>
                    </div>
                    <div class="px-2 border-b">
                        <inertia-link :href="route('settings.packages')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <span class="text-sm uppercase">Packages</span>
                        </inertia-link>
                    </div>
                    <div class="px-2 border-b">
                        <inertia-link :href="route('codes')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <span class="text-sm uppercase">Codes</span>
                        </inertia-link>
                    </div>
                    <div class="px-2 border-b">
                        <inertia-link :href="route('settings.filters')" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                            <span class="text-sm uppercase">Filters</span>
                        </inertia-link>
                    </div>
                </div>
            </div>
            <div class="flex-grow overflow-y-scroll">
                <div class="w-full">
                    <div class="w-full py-2 border-b">
                        <h2 class="text-xl px-4 font-semibold">Settings</h2>
                    </div>
                    <div class="w-full h-full">
                        <slot/>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
export default {
    props: {
        title: String
    },
}
</script>