<template>
    <div class="block flex-col bg-gray-200">
        <div class="w-full text-right">
            <a href="javascript:void(0)" class="text-indigo-500" @click="isHistoryHidden=!isHistoryHidden">
                <span v-if="isHistoryHidden"> Show </span>
                <span v-else>Hide </span> hisotry
            </a>
        </div>
        <template v-if="!isHistoryHidden">
            <section v-for="audit in history" :key="audit.id" class="block">
                <template v-for="field in fields">
                    <div class="flex mb-4" :key="field">
                        <div class="w-2/5 capitalize">
                            <strong> {{ field }} </strong>
                        </div>
                        <div class="w-3/5 text-left">
                            {{ audit.new_values[field] }} <br>
                        </div>
                    </div>
                </template>
                <div class="flex mb-4">
                    <div class="w-2/5">
                        <strong> User </strong>
                    </div>
                    <div class="w-3/5">
                        <strong> {{ getUserFullName(audit.user) }} </strong> - <date-label :date="audit.created_at"></date-label> 
                    </div>
                </div>
            </section>
        </template>
    </div>
</template>
<script>
export default {
    props:{
        history:{
            type: Array,
            //required: true
        },
        fields: {
            type: Array,
            required: true
        }
    },
    data() {
        return {
            isHistoryHidden : true
        }
    }
}
</script>