<template>
    <button @click="callHandler" class="flex items-center"
        :class="getFinalClass()">
        <span class="btn-spinner mr-2" v-if="isProcessing()"></span>
        <slot>
            Submit Form
        </slot>
    </button>
</template>

<script>
export default {
    props:{
        handler:{
            type: Function,
            default: function() {
                alert("Form Sumission is not handled, please try again or report to support team")
            }
        },
        formId:{ type: String }
    },
    data() {
        return {
            isFormBeingSubmitted: false
        }
    },
    methods: {
        getFinalClass() {
             if(this.isProcessing())
                return 'disabled ' + this.classes
            return this.classes
        },
        isProcessing() {
            return this.isFormBeingSubmitted
        },
        getButtonText() {
            return this.text
        },

        getUpdatedButtonText() {
            return this.updatetext ? this.updatetext : "Update"
        },
        callHandler() {
            this.toggleFormBeingSubmittedFlag();
            this.handler()
                .then( () => this.afterHandled() )
                .catch( () => this.afterHandled())
        },
        afterHandled() {
            this.toggleFormBeingSubmittedFlag()
            //document.getElementById(this.formId).submit();
        },
        toggleFormBeingSubmittedFlag() {
            this.isFormBeingSubmitted = !this.isFormBeingSubmitted;
        },
    }
}
</script>

