<template>
    <div>
        <div class="tabs mb-4">
            <ul class="flex flex-norwrap border-b">
                <li v-for="tab in tabs" :key="tab.name" :class="{'is-active': tab.isActive}" class="mr-2">
                    <a v-if="!tab.disabled" href="#" @click="showTab(tab)">{{tab.name}}</a>
                    <span v-else>{{tab.name}}</span>
                </li>
            </ul>
        </div>
        <div class="tab-details">
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            tabs: []
        }
    },
    methods: {
        showTab (selectedTab) {
            this.tabs.forEach(tab => {
                tab.isActive = (tab.name === selectedTab.name ? true : false);
            });
        }
    },
    mounted () {
        this.tabs = this.$children;
    }
}
</script>

