<template>
	<div>
		<label v-if="label" class="form-label" :for="id">{{ label }} : <sup v-if="required" class="text-red-500">*</sup></label>
		<input :required="required" :id="id" ref="input" v-bind="$attrs" class="form-input" :class="{ error: errors.length }" :type="type" :value="value" @input="$emit('input', $event.target.value)">
    	<div v-if="errors.length" class="form-error">{{ errors[0] }}</div>
	</div>
</template>

<script>
export default {
	inheritAttrs: false,
	props: {
		id: {
    		type: String,
      		default() {
        		return `text-input-${this._uid}`
      		},
    	},
    	type: {
      		type: String,
      		default: 'text',
    	},
    	value: [String, Number],
    	label: String,
		required: {
			type: Boolean,
			default: false
		},
    	errors: {
			type: Array,
			default: () => [],
    	},
	},
	methods: {
		focus() {
			this.$refs.input.focus()
		},
		select() {
			this.$refs.input.select()
		},
		setSelectionRange(start, end) {
			this.$refs.input.setSelectionRange(start, end)
		},
	},
}
</script>
