<template>
    <multiselect-input class="w-full"
        v-model="selectedUser"
        track-by="id" :formlabel="label" label="first_name" :url="usersURL"
        v-bind="$attrs"
        :allow-empty="false" placeholder="Search with first/last name/phone/mobile"
        :searchable="true" :internal-search="false" :clear-on-select="false"
        :close-on-select="true" :min-query-length="3"
        :custom-label="getUserFullName"
        :show-labels="false"
        :is-custom-label="true"
        :get-title="getName"
        :get-small="getContact">
    </multiselect-input>
</template>

<script>
export default {
    props:{
        value:{},
        label: { default: ''},
        type: { default: 'all' }
    },
    data() {
        return {
            usersURL: '/api/users?type=' + this.type,
            selectedUser: this.value
        }
    },
    watch:{
        'selectedUser.id': function() {
            this.$emit('input', this.selectedUser)
            this.$emit('user-id', this.selectedUser.id)
        },
        value: function(){
            this.selectedUser = this.value
        }
    },
    methods:{
        getName(user) {
            //console.log( user )
            if(user && user.first_name){
                return `${this.getUserFullName(user)}
                        <span class="text-xs">
                            ${user.user_type}
                        </span>
                    `
            }
            return "Search For User first or last name"
        },
        getContact(user) {
            return this.getUserContactDetails(user)
        }
    }
}
</script>
