<template>
    <select-input v-model="title" :required="true" v-bind="$attrs">
        <option value="Mr">Mr</option>
        <option value="Mrs">Mrs</option>
        <option value="Ms">Ms</option>
        <option value="Miss">Miss</option>
        <option value="Master">Master</option>
        <option value="Dr">Dr</option>
    </select-input>
</template>

<script>
export default {
    props:[ 'value'],
    data() {
        return {
            title: ''
        }
    },
    watch:{
        'title': function() {
            this.$emit('input', this.title)
        },
        'value': function() {
            this.title = this.value
        }
    }
}
</script>

<style>

</style>
