<template>
    <div>
        <template v-if="isEditing">
            <label v-if="label" class="form-label" :for="id">{{ label }} : <sup v-if="required" class="text-red-500">*</sup></label>
            <wysiwyg :required="required" :id="id" ref="input" v-bind="$attrs" class="form-input" :class="{ error: errors.length }" v-model="content"></wysiwyg>
        </template>
        <div v-else v-html="value" class="max-lines-3"> </div>

        <a href="javascript:void(0)" class="text-blue-400 mt-2" @click="toggleEditing">
            <span v-if="isEditing"> Hide Editing </span>
            <span v-else> Edit {{ label }}  </span>
        </a>
    </div>
</template>

<script>
export default {
    inheritAttrs: false,
    props: {
        value: {
            type: String,
            default() {
                return ''
            }
        },
        label: {
            type: String,
            default() {
                return ''
            }
        },
        id: {
            type: String,
            default() {
                return `vue-wysiwyg-${this._uid}`
            }
        },
        editMode: {
            type: Boolean,
            default() {
                return false;
            }
        },
		required: {
			type: Boolean,
			default: false
		},
    	errors: {
			type: Array,
			default: () => [],
    	},
    },
    data() {
        return {
            content: this.value,
            isEditing: this.editMode
        }
    },
    watch: {
        'value' : function (newValue){
            this.content = this.value;
        },
        'content': function() {
            this.$emit('input', this.content)
        }
    },
    methods:{
        toggleEditing() {
            if(this.isEditing == false ) {
                this.content = this.value
            }
            this.isEditing = !this.isEditing
        }
    }

}
</script>