<template>
	<PackageMenu :tourPackage="tourPackage">
		<div class="bg-white rounded shadow">
            <form @submit.prevent class="text-sm">
                <div class="p-8 flex flex-col">
                    <table class="table-auto mb-8 text-xs">
                        <thead class="bg-yellow-500">
                            <tr class="bg-green-300">
                                <th class="font-bold border">#</th>
                                <th class="border w-56">Destination</th>
                                <th class="border">City</th>
                                <th class="border">Country</th>
                                <th class="border">Hotel</th>
                                <th class="border">Room</th>
                                <th class="border" colspan="2">Nights</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(accommodation, accommodationIndex) in accommodations" :key="`package-accommodation-${accommodationIndex}`">
                                <td class="font-bold border text-center">{{accommodationIndex + 1}}</td>
                                <td class="border px-1 py-2 w-56">
                                    <multiselect-input :id="`select-destination-${accommodationIndex}`" v-model="accommodation.destination" track-by="id" label="name" :url="routeUri('api.destinations')"
                                        :allow-empty="false" placeholder="Search for a destination" :searchable="true" :internal-search="false" 
                                        :clear-on-select="false" :close-on-select="true" :min-query-length="3" @input="onDestinationSelected(accommodationIndex)">
                                    </multiselect-input>
                                </td>
                                <td class="border px-1 py-2">
                                    <text-input placeholder="City Name" v-model="accommodation.city_name" class="w-full rounded" :required="true"/>
                                </td>
                                <td class="border px-1 py-2">
                                    <text-input placeholder="Country Name" v-model="accommodation.country_name" class="w-full rounded" :required="true"/>
                                </td>
                                <td class="border px-1 py-2">
                                    <text-input placeholder="Hotel Name" v-model="accommodation.hotel_name" class="w-full rounded" :required="true"/>
                                </td>
                                <td class="border px-1 py-2">
                                    <text-input placeholder="Room Category" v-model="accommodation.room_category" class="w-full rounded"/>
                                </td>
                                <td class="border px-1 py-2 w-16">
                                    <text-input type="number" placeholder="No of Nights" v-model="accommodation.no_of_nights" class="w-full rounded" :required="true"/>
                                </td>
                                <td class="border text-center px-1 py-2">
                                    <button type="button" class="text-red-600 font-bold outline-none" @click="removeAccommodation(accommodationIndex)">X</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <button type="button" class="text-indigo-600 cursor-pointer" @click="addAccommodation">Add Accommodation</button>
                    </div>
                </div>                    
                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-end items-center">
                    <submit-button :handler="submit" form-id="package-update-accommodations" class="btn-indigo" type="submit">Update Accommodations</submit-button>
                </div>
            </form>
        </div>
	</PackageMenu>
</template>

<script>
import PackageMenu from './PackageMenu.vue'
export default {
    components: {
        PackageMenu
    },
    props: {
        tourPackage: Object
    },
    computed: {
        isValidData() {
            return this.errorMsg.trim() ? false : true;
        }
    },
    data() {
        return {
            errorMsg: "",
            accommodations: [],
            form: {
                accommodations: []
            },
        }
    },
    methods: {
        submit() {
            this.updateAccommodations();
            if(!this.isValidData) {
                alert(this.errorMsg);
                return;
            }
            let formObject = _.cloneDeep(this.form);
            formObject.accommodations.forEach((accommodation) => delete accommodation.destination);
            return this.$inertia.put(this.route('packages.update.accommodations', this.tourPackage.id), formObject);
        },
        getDestination(destinationID) {
            for(let index = 0; index < this.tourPackage.destinations.length; index++) {
                if(destinationID === this.tourPackage.destinations[index].id) {
                    return _.cloneDeep(this.tourPackage.destinations[index]);
                }
            }
        },
        addAccommodation () {
            let newAccommodation = this.getNewAccommodation();
            this.accommodations.push(newAccommodation);
        },
        removeAccommodation(accommodationIndex) {
            let confirmDelete = confirm("Are you sure you want to delete the accommodation?");
            if(confirmDelete) {
                return this.accommodations.splice(accommodationIndex, 1);
            }
            return;
        },
        getNewAccommodation () {
            return {
                destination: {},
                destination_id: null,
                city_name: '',
                country_name: '',
                hotel_name: '',
                room_category: '',
                no_of_nights: 1
            }
        },
        updateAccommodations () {
            let accommodations = [];
            let totalAccommodationNights = 0;
            for(let index = 0; index < this.accommodations.length; index++) {
                let accommodation = this.accommodations[index];
                totalAccommodationNights += Number(accommodation.no_of_nights);
                if(!accommodation.destination && !accommodation.city_name.trim() && !accommodation.country_name.trim()) {
                    this.errorMsg = "Please enter atleast one of destination / city";
                    break;
                }
                accommodation.order = index+1;
                accommodations.push(accommodation);
            }
            if(totalAccommodationNights !== this.tourPackage.no_of_nights) {
                this.errorMsg = "The package total nights is different from the total accommodation nights. Please enter the correct accommodation details.";
            }
            if(this.isValidData) {
                this.form.accommodations = accommodations;
            }
        },
        onDestinationSelected (accommodationIndex) {
            this.accommodations[accommodationIndex].destination_id = this.accommodations[accommodationIndex].destination.id;
            this.accommodations[accommodationIndex].city_name = this.accommodations[accommodationIndex].destination.name;
            this.accommodations[accommodationIndex].country_name = this.accommodations[accommodationIndex].destination.country.name;
        },
        prepareNewAccommodationDetails () {
            let dayWiseDestinations = this.tourPackage.day_wise_destinations;
            for(let i = 0; i < (dayWiseDestinations.length - 1); i++) {
                let nightStay = this.getNewAccommodation();
                let lastDestinationOfTheDay = dayWiseDestinations[i].destinations[dayWiseDestinations[i].destinations.length - 1];
                let noOfNights = 1;
                while(this.checkIfTheNextNightIsAtTheSamePlace(lastDestinationOfTheDay, i+1)) {
                    noOfNights += 1;
                    i += 1;
                }
                nightStay.no_of_nights = noOfNights;
                nightStay.destination_id = lastDestinationOfTheDay.destination_id;
                nightStay.destination = this.getDestination(nightStay.destination_id);
                nightStay.city_name = lastDestinationOfTheDay.city_name;
                nightStay.country_name = lastDestinationOfTheDay.country_name;
                this.accommodations.push(nightStay);
            }
        },
        checkIfTheNextNightIsAtTheSamePlace (destination, index) {
            if(index === (this.tourPackage.day_wise_destinations.length - 1)) {
                // If it's the last day, then return false
                return false;
            }
            let destinationsOfTheDay = this.tourPackage.day_wise_destinations[index].destinations;
            let lastDestinationOfTheDay = destinationsOfTheDay[destinationsOfTheDay.length - 1];
            if(destination.destination_id === lastDestinationOfTheDay.destination_id 
                || destination.city_name === lastDestinationOfTheDay.city_name
            ) {
                return true;
            }
            return false;
        },
        prepareAccommodationsFromPackage () {
            let accommodations = _.cloneDeep(this.tourPackage.accommodations);
            for(let accommodationIndex = 0; accommodationIndex < accommodations.length; accommodationIndex++) {
                accommodations[accommodationIndex].destination = this.getDestination(accommodations[accommodationIndex].destination_id);
            }
            this.accommodations = accommodations;
        }
    },
    mounted () {
        if(this.tourPackage.accommodations && this.tourPackage.accommodations.length) {
            this.prepareAccommodationsFromPackage();
        } else {
            this.prepareNewAccommodationDetails();
        }
        
    }
}
</script>