<template>
	<PackageMenu :tourPackage="tourPackage">
		<div class="bg-white rounded shadow">
            <form @submit.prevent class="text-sm">
                <div class="p-8 flex flex-col">
                    <!--
                    <div class="mb-6">
                        <h2 class="font-bold mb-2">What's the Tour Type?</h2>
                        <div class="mb-2">
                            <div>
                                <input type="radio" id="customized-holiday" v-model="form.tour_type" value="customized-holiday">
                                <label for="customized-holiday">Customized Holiday</label>
                            </div>
                            <p class="text-gray-600 ml-4">This is for somebody who wishes to travel on their own</p>
                        </div>
                        <div class="mb-2">
                            <div>
                                <input type="radio" id="group-tour-inclusive-flights" v-model="form.tour_type" value="group-tour-inclusive-flights">
                                <label for="group-tour-inclusive-flights">Group Tour (Incl. Flights)</label>
                            </div>
                            <p class="text-gray-600 ml-4">This is for somebody who wishes to travel in a group starting from India</p>
                        </div>
                        <div class="mb-2">
                            <div>
                                <input type="radio" id="group-tour-exclusive-flights" v-model="form.tour_type" value="group-tour-exclusive-flights">
                                <label for="group-tour-exclusive-flights">Group Tour (Excl. Flights)</label>
                            </div>
                            <p class="text-gray-600 ml-4">This is for somebody who wishes to join a group at the starting location</p>
                        </div>
                        <div v-if="$page.errors.tour_type && $page.errors.tour_type.length" class="form-error">{{ $page.errors.tour_type[0] }}</div>
                    </div>
                    -->
                    <div class="mb-6">
                        <h2 class="font-bold mb-2">Package Title</h2>
                        <text-input v-model="form.title" :errors="$page.errors.title" class="w-full lg:w-1/2 rounded" :required="true"/>
                    </div>
                    <div class="mb-6">
                        <h2 class="font-bold mb-2">Tour Code</h2>
                        <text-input v-model="form.tour_code" :errors="$page.errors.tour_code" class="w-full lg:w-1/4 rounded" :required="true" />
                    </div>
                    <div class="mb-6">
                        <h2 class="font-bold mb-2">Tour Duration</h2>
                        <div class="flex items-center">
                            <div class="flex items-center">
                                <span class="bg-gray-300 leading-normal p-2 border rounded-l">Nights</span>
                                <input class="form-input rounded-l-none" type="number" v-model="form.no_of_nights" style="width:70px!important">
                            </div>
                            <div class="mx-2">
                                <span>-</span>
                            </div>
                            <div class="flex items-center">
                                <span class="bg-gray-300 leading-normal p-2 border rounded-l">Days</span>
                                <input class="form-input rounded-l-none" type="number" v-model="form.no_of_days" style="width:70px!important">
                            </div>
                        </div>
                        <div v-if="$page.errors.no_of_nights && $page.errors.no_of_nights.length" class="form-error">{{ $page.errors.no_of_nights[0] }}</div>
                        <div v-if="$page.errors.no_of_days && $page.errors.no_of_days.length" class="form-error">{{ $page.errors.no_of_days[0] }}</div>
                    </div>
                    <div class="mb-6">
                        <h2 class="font-bold mb-2">Minimum & Maximum Age of Client</h2>
                        <div class="flex items-center">
                            <div class="flex items-center">
                                <span class="bg-gray-300 leading-normal p-2 border rounded-l">MIN AGE</span>
                                <input class="form-input rounded-l-none" type="number" v-model="form.min_age" style="width:70px!important">
                            </div>
                            <div class="mx-2">
                                <span>-</span>
                            </div>
                            <div class="flex items-center">
                                <span class="bg-gray-300 leading-normal p-2 border rounded-l">MAX AGE</span>
                                <input class="form-input rounded-l-none" type="number" v-model="form.max_age" style="width:70px!important">
                            </div>
                        </div>
                        <div v-if="$page.errors.min_age && $page.errors.min_age.length" class="form-error">{{ $page.errors.min_age[0] }}</div>
                        <div v-if="$page.errors.max_age && $page.errors.max_age.length" class="form-error">{{ $page.errors.max_age[0] }}</div>
                    </div>
                    <div class="mb-6">
                        <h2 class="font-bold mb-2">Minimum & Maximum No of Passengers</h2>
                        <div class="flex items-center">
                            <div class="flex items-center">
                                <span class="bg-gray-300 leading-normal p-2 border rounded-l">MIN PAX</span>
                                <input class="form-input rounded-l-none" type="number" v-model="form.min_pax" style="width:70px!important">
                            </div>
                            <div class="mx-2">
                                <span>-</span>
                            </div>
                            <div class="flex items-center">
                                <span class="bg-gray-300 leading-normal p-2 border rounded-l">MAX PAX</span>
                                <input class="form-input rounded-l-none" type="number" v-model="form.max_pax" style="width:70px!important">
                            </div>
                        </div>
                        <div v-if="$page.errors.min_pax && $page.errors.min_pax.length" class="form-error">{{ $page.errors.min_age[0] }}</div>
                        <div v-if="$page.errors.max_pax && $page.errors.max_pax.length" class="form-error">{{ $page.errors.max_age[0] }}</div>
                    </div>
                    <div class="mb-6">
                        <h2 class="font-bold mb-2">Where does the tour start or end?</h2>
                        <div class="flex items-center">
                            <div class="flex items-center">
                                <span class="bg-gray-300 leading-normal p-2 border rounded-l" style="height:43px;">STARTS AT</span>
                                <multiselect-input class="rounded-l-none flex-1" v-model="form.tour_starts_from" track-by="id" label="name" :url="routeUri('api.destinations')"
                                    :allow-empty="false" placeholder="Search for a destination" :searchable="true" :internal-search="false" 
                                    :clear-on-select="false" :close-on-select="true" :min-query-length="3">
                                </multiselect-input>
                            </div>
                            <div class="mx-2">
                                <span>-</span>
                            </div>
                            <div class="flex items-center">
                                <span class="bg-gray-300 leading-normal p-2 border rounded-l" style="height:43px;">ENDS AT</span>
                                <multiselect-input class="rounded-l-none flex-1" v-model="form.tour_ends_at" track-by="id" label="name" :url="routeUri('api.destinations')"
                                    :allow-empty="false" placeholder="Search for a destination" :searchable="true" :internal-search="false" 
                                    :clear-on-select="false" :close-on-select="true" :min-query-length="3">
                                </multiselect-input>
                            </div>
                        </div>
                    </div>
                    <div class="mb-6">
                        <h2 class="font-bold mb-2">Pricing (Starts From)</h2>
                        <div class="flex items-center">
                            <div class="flex items-center">
                                <span class="bg-gray-300 leading-normal p-2 border rounded-l">Currency</span>
                                <select-input v-model="form.price_starts_from_currency" :errors="$page.errors.price_starts_from_currency" class="w-full">
                                    <template v-for="country in countries">
                                        <option v-for="currency in country.currency" :key="country.id + '-' + currency" :value="currency">{{country.name}} - {{currency}}</option>
                                    </template>
                                </select-input>
                            </div>
                            <div class="mx-2">
                                <span>-</span>
                            </div>
                            <div class="flex items-center">
                                <span class="bg-gray-300 leading-normal p-2 border rounded-l">Price</span>
                                <text-input type="number" v-model="form.price_starts_from" :errors="$page.errors.price_starts_from" class="w-full lg:w-1/2" />
                            </div>
                            <div class="mx-2">
                                <span>-</span>
                            </div>
                            <div class="flex items-center">
                                <span class="bg-gray-300 leading-normal p-2 border rounded-l">Label</span>
                                <text-input v-model="form.price_starts_from_label" :errors="$page.errors.price_starts_from_label" class="w-full lg:w-1/2" />
                            </div>
                        </div>
                    </div>
                    <div class="mb-6">
                        <div class="bg-gray-300 p-2">                                            
                            <h2 class="font-bold mb-2">Tour Overview</h2>
                            <p class="text-gray-500">Write an overview of this tour</p>
                            <div class="mb-2 animated fadeIn">
                                <vue-editor v-model="form.overview" :errors="$page.errors.overview" class="pr-6 pb-8 w-full" :editMode="false"></vue-editor>
                            </div>
                        </div>
                    </div>
                    <div class="mb-6">
                        <div class="bg-gray-300 p-2">                                            
                            <h2 class="font-bold mb-2">Tour Highlights</h2>
                            <p class="text-gray-500">Highlights of this tour</p>
                            <div class="mb-2 animated fadeIn">
                                <vue-editor v-model="form.tour_highlights" :errors="$page.errors.tour_highlights" class="pr-6 pb-8 w-full" :editMode="false"></vue-editor>
                            </div>
                        </div>
                    </div>
                    <div class="mb-6">
                        <div class="bg-gray-300 p-2">
                            <h2 class="font-bold mb-2">Important Notes</h2>
                            <p class="text-gray-500">Mention important notes for quick reference</p>
                            <div class="mb-2 animated fadeIn">
                                <vue-editor v-model="form.important_notes" :errors="$page.errors.important_notes" class="pr-6 pb-8 w-full" :editMode="false"></vue-editor>
                            </div>
                        </div>
                    </div>
                    <div class="mb-6">
                        <div class="bg-gray-300 p-2">                                            
                            <h2 class="font-bold mb-2">Inclusions</h2>
                            <p class="text-gray-500">Things that are included in this tour</p>
                            <div class="mb-2 animated fadeIn">
                                <vue-editor v-model="form.inclusions" :errors="$page.errors.inclusions" class="pr-6 pb-8 w-full" :editMode="true"></vue-editor>
                            </div>
                        </div>
                    </div>
                    <div class="mb-6">
                        <div class="bg-gray-300 p-2">                                            
                            <h2 class="font-bold mb-2">Exclusions</h2>
                            <p class="text-gray-500">Things that are NOT included in this tour</p>
                            <div class="mb-2 animated fadeIn">
                                <vue-editor v-model="form.exclusions" :draggable="true" :errors="$page.errors.exclusions" class="pr-6 pb-8 w-full" :editMode="false"></vue-editor>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-end items-center">
                    <submit-button v-if="!isEditing" :handler="submit" form-id="package-create-basic" class="btn-indigo" type="submit">Create Package</submit-button>
                    <submit-button v-else :handler="update" form-id="package-update-basic" class="btn-indigo" type="submit">Update Package</submit-button>
                </div>
            </form>
        </div>
	</PackageMenu>
</template>

<script>
import PackageMenu from './PackageMenu.vue'
export default {
    components: {
        PackageMenu
    },
    props: {
        countries: Array,
        tourPackage: Object
    },
    data() {
        return {
            form: {
                title: '',
                tour_code: '',
                tour_type: 'customized-holiday',
                tour_duration_format: 'nights-days',
                important_notes: '',
                no_of_nights: 5,
                no_of_days: 6,
                no_of_hours: 0,
                no_of_minutes: 0,
                custom_duration: '',
                banner_image: 'banner image',
                overview_image: 'overview image',
                price_starts_from_currency: 'INR',
                price_starts_from: '',
                price_starts_from_label: 'per person',
                itinerary: [],
                inclusions: '',
                exclusions: '',
                overview: '',
                tour_highlights: '',
                payment_policy: '',
                remarks: '',
                other_information: '',
                min_age: 1,
                max_age: 99,
                min_pax: 1,
                max_pax: 6,
                tour_starts_from: {},
                tour_ends_at: {},
                destinations: []
            },
        }
    },
    methods: {
        submit () {
            return this.$inertia.post(this.route('packages.store'), this.form);
        },
        update () {
            return this.$inertia.put(this.route('packages.update', this.tourPackage.id), this.form);
        }
    },
    computed: {
        isEditing ()  {
            return (this.tourPackage && this.tourPackage.id) ? true : false
        }
    },
    mounted () {
        if(this.isEditing) {
            this.form = _.cloneDeep(this.tourPackage);
            delete this.form.id;
            delete this.form.updated_at;
            delete this.form.deleted_at;
        }
    }
}
</script>