<template>
	<PackageMenu :tourPackage="tourPackage">
		<div class="bg-white rounded shadow">
            <form @submit.prevent class="text-sm">
                <div class="p-8 flex flex-col">
                    <table class="table-auto mb-8" v-for="(day, dayIndex) in days" :key="`day-${dayIndex}`">
                        <thead class="bg-yellow-500">
                            <tr class="bg-yellow-500">
                                <th colspan="5" class="text-lg border">
                                    Day {{dayIndex + 1}}
                                    <button type="button" class="outline-none ml-4" @click="addDestination(dayIndex)"><small class="text-indigo-500">Add Destination</small></button>
                                </th>
                            </tr>
                            <tr class="bg-green-300">
                                <th class="font-bold border">#</th>
                                <th class="border">Select Destination</th>
                                <th class="border">City Name</th>
                                <th class="border" colspan="2">Country Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(destination, destinationIndex) in day.destinations" :key="`destination-${dayIndex}-${destinationIndex}`">
                                <td class="font-bold border text-center">{{destinationIndex + 1}}</td>
                                <td class="border px-1 py-2">
                                    <multiselect-input :id="`select-destination-${dayIndex}-${destinationIndex}`" v-model="destination.destination" track-by="id" label="name" :url="routeUri('api.destinations')"
                                        :allow-empty="false" placeholder="Search for a destination" :searchable="true" :internal-search="false" 
                                        :clear-on-select="false" :close-on-select="true" :min-query-length="3" @input="onDestinationSelected(dayIndex, destinationIndex)">
                                    </multiselect-input>
                                </td>
                                <td class="border px-1 py-2">
                                    <text-input placeholder="City Name" v-model="destination.city_name" class="w-full rounded" :required="true"/>
                                </td>
                                <td class="border px-1 py-2">
                                    <text-input placeholder="Country Name" v-model="destination.country_name" class="w-full rounded" :required="true"/>
                                </td>
                                <td class="border text-center px-1 py-2">
                                    <button type="button" class="text-red-600 font-bold outline-none" @click="removeDestination(dayIndex, destinationIndex)">X</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>                    
                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-end items-center">
                    <submit-button :handler="submit" form-id="package-update-destinations" class="btn-indigo" type="submit">Update Destinations</submit-button>
                </div>
            </form>
        </div>
	</PackageMenu>
</template>

<script>
import PackageMenu from './PackageMenu.vue'
export default {
    components: {
        PackageMenu
    },
    props: {
        tourPackage: Object
    },
    data() {
        return {
            days: [],
            form: {
                day_wise_destinations: []
            },
        }
    },
    methods: {
        submit() {
            this.updateDestinations();
            return this.$inertia.put(this.route('packages.update.destinations', this.tourPackage.id), this.form);
        },
        getDestination(destinationID) {
            for(let index = 0; index < this.tourPackage.destinations.length; index++) {
                if(destinationID === this.tourPackage.destinations[index].id) {
                    return _.cloneDeep(this.tourPackage.destinations[index]);
                }
            }
        },
        addDestination (index) {
            let newDestination = this.getNewDestination();
            this.days[index].destinations.push(newDestination);
        },
        removeDestination(dayIndex, destinationIndex) {
            return this.days[dayIndex].destinations.splice(destinationIndex, 1);
        },
        getNewDestination () {
            return {
                destination: {},
                city_name: '',
                country_name: '',
                destination_id: null
            }
        },
        updateDestinations () {
            this.form.day_wise_destinations = [];
            for(let dayIndex=0; dayIndex < this.days.length; dayIndex++) {
                let day = {
                    day_number: dayIndex + 1,
                    destinations: []
                }
                let destinations = this.days[dayIndex].destinations;
                let visit_sequence = 1;
                for(let destinationIndex=0; destinationIndex < destinations.length; destinationIndex++) {
                    let destinationDetails = destinations[destinationIndex];
                    if(destinationDetails.destination_id || destinationDetails.city_name) {
                        let destination = {
                            city_name: destinationDetails.city_name,
                            country_name: destinationDetails.country_name,
                            visit_sequence: visit_sequence++,
                            destination_id: destinationDetails.destination_id,
                        }
                        day.destinations.push(destination);
                    }
                }
                this.form.day_wise_destinations.push(day);
            }
        },
        onDestinationSelected (dayIndex, destinationIndex) {
            let selectedDestination = this.days[dayIndex].destinations[destinationIndex];
            this.days[dayIndex].destinations[destinationIndex].destination_id = selectedDestination.destination.id;
            this.days[dayIndex].destinations[destinationIndex].city_name = selectedDestination.destination.name;
            this.days[dayIndex].destinations[destinationIndex].country_name = selectedDestination.destination.country.name;
        },
        prepareNewDayWiseDestinations () {
            for(let dayCount=1; dayCount <= this.tourPackage.no_of_days; dayCount++) {
                let destination = this.getNewDestination();
                let day = {
                    day_number: dayCount,
                    destinations: [destination]
                }
                this.days.push(day);
            }
        },
        prepareDayWiseDestinationsFromPackage () {
            let days = _.cloneDeep(this.tourPackage.day_wise_destinations);
            for(let dayIndex = 0; dayIndex < days.length; dayIndex++) {
                let dayDestinations = days[dayIndex].destinations;
                for(let destinationIndex = 0; destinationIndex < dayDestinations.length; destinationIndex++) {
                    dayDestinations[destinationIndex].destination = this.getDestination(dayDestinations[destinationIndex].destination_id);
                }
            }
            this.days = days;
        }
    },
    mounted () {
        if(this.tourPackage.day_wise_destinations && this.tourPackage.day_wise_destinations.length) {
            this.prepareDayWiseDestinationsFromPackage();
        } else {
            this.prepareNewDayWiseDestinations();
        }
        
    }
}
</script>