<template>
	<PackageMenu :tourPackage="tourPackage">
		<div class="bg-white rounded shadow">
            <form @submit.prevent class="text-sm">
                <div class="px-8 py-4 border-b border-gray-200 flex justify-end items-center">
                    <button type="button" @click="addNewFAQ" class="btn-indigo font-bold outline-none">Add New FAQ</button>
                </div>
                <div class="p-8 flex flex-col">
                    <div class="mb-8 bg-gray-200 p-4" v-for="(faq, index) in form.faqs" :key="`faq-${index}`">
                        <div class="flex justify-end mb-2">
                            <button type="button" @click="editFAQ(index)" class="text-indigo-600 font-bold outline-none mr-2">edit</button>
                            <button type="button" @click="removeFAQ(index)" class="text-red-600 font-bold outline-none">X</button>
                        </div>
                        <div>
                            <h2 v-if="!faq.isEditing" class="font-semibold text-xl flex flex-between">{{faq.question}}</h2>
                            <text-input v-else v-model="faq.question" class="pb-4 w-full" label="Question" />
                        </div>
                        <vue-editor v-model="faq.answer" class="pb-8 w-full" :editMode="editMode(faq)"></vue-editor>
                    </div>
                </div>
                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-end items-center">
                    <submit-button :handler="submit" form-id="package-update-filters" class="btn-indigo" type="submit">Update FAQs</submit-button>
                </div>
            </form>
        </div>
	</PackageMenu>
</template>

<script>
import PackageMenu from './PackageMenu.vue'
export default {
    components: {
        PackageMenu
    },
    props: {
        tourPackage: Object,
        faqs: Array
    },
    computed: {
    },
    data() {
        return {
            form: {
                faqs: []
            },
        }
    },
    methods: {
        submit () {
            let details = this.form.faqs.map(function (faq) {
                delete faq.isEditing;
                return faq;
            });
            console.log("Details ", details);
            return this.$inertia.put(this.route('packages.update.faqs', this.tourPackage.id), {
                faqs: details
            });
        },
        removeFAQ (index) {
            return this.form.faqs.splice(index, 1);
        },
        addNewFAQ () {
            this.form.faqs.push(this.getNewFAQ());
        },
        getNewFAQ () {
            return {
                question: '',
                answer: '',
                approved: true,
                isEditing: true
            }
        },
        editMode(faq) {
            return (faq && faq.id) ? false : true;
        },
        editFAQ(index) {
            this.form.faqs[index].isEditing = !this.form.faqs[index].isEditing;
        }
    },
    mounted () {
        let faqs = (this.faqs && this.faqs.length) ? this.faqs : [];
        this.form.faqs = faqs.map(faq => ({...faq, isEditing: false}))
    }
}
</script>