<template>
	<PackageMenu :tourPackage="tourPackage">
		<div class="bg-white rounded shadow">
            <form @submit.prevent class="text-sm">
                <div class="p-8 flex flex-col">
                    <div class="mb-8" v-for="(filter) in filters" :key="`filter-${filter.id}`">
                        <h2 class="font-semibold text-xl">{{filter.name}}</h2>
                        <ul class="list-none">
                            <li v-for="(childFilter) in filter.children"
                                :key="`child-filter-${childFilter.id}`">
                                <input type="checkbox" :id="childFilter.id" :value="childFilter.id" v-model="form.filters">
                                <label :for="childFilter.id">{{childFilter.name}}</label>
                            </li>
                        </ul>
                    </div>
                </div>                    
                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-end items-center">
                    <submit-button :handler="submit" form-id="package-update-filters" class="btn-indigo" type="submit">Update Filters</submit-button>
                </div>
            </form>
        </div>
	</PackageMenu>
</template>

<script>
import PackageMenu from './PackageMenu.vue'
export default {
    components: {
        PackageMenu
    },
    props: {
        tourPackage: Object,
        filters: Array
    },
    computed: {
        isValidData() {
            return this.errorMsg.trim() ? false : true;
        }
    },
    data() {
        return {
            errorMsg: "",
            form: {
                filters: []
            },
        }
    },
    methods: {
        submit() {
            return this.$inertia.put(this.route('packages.update.filters', this.tourPackage.id), this.form);
        }
    },
    mounted () {
        if(this.tourPackage.filters && this.tourPackage.filters.length) {
            this.form.filters = this.tourPackage.filters.map(filter => filter.id);
        }
    }
}
</script>