<template>
    <PackageMenu :tourPackage="tourPackage">
        <div class="bg-white rounded shadow">
            <div class="p-8 flex flex-col">
                <div class="mb-8 p-4 bg-gray-200" v-for="(file, index) in files" :key="file.name">
                    <h2 class="mb-2 font-bold text-lg">
                        {{file.label}}
                        <button v-if="file.uploadedPath" type="button" class="btn p-2 border-1 text-red-600" @click="deleteImage(file, index)">X</button>
                    </h2>
                    <div class="mb-2" v-if="file.uploadedPath && !file.uploadInProgress">
                        <img :src="file.uploadedPath" :alt="file.name" class="h-48">
                    </div>
                    <div v-if="file.uploadInProgress">
                        <span class="text-red-600">Upload in progress...</span>
                    </div>
                    <file-uploader accept="image/*, .png, .jpg, .jpeg" :allowMultiple="false" 
                        :fileName="file.name" :uploadPath="file.uploadPath" @uploaded="onFileUploaded" @upload-start="onUploadStart">
                    </file-uploader>
                </div>
            </div>
        </div>
    </PackageMenu>
</template>

<script>
import PackageMenu from './PackageMenu.vue'
export default {
    components: {
        PackageMenu
    },
    props: {
        countries: Array,
        tourPackage: Object,
        imageExists: Object
    },
    data () {
        return {
            files: [
                {
                    'name': 'thumbnail',
                    'label': 'Thumbnail Image',
                    'uploadPath': `packages/${this.tourPackage.id}/images`,
                    'uploadedPath': this.imageExists['thumbnail'],
                    'uploadInProgress': false
                },
                {
                    'name': 'banner',
                    'label': 'Banner Image',
                    'uploadPath': `packages/${this.tourPackage.id}/images`,
                    'uploadedPath': this.imageExists['banner'],
                    'uploadInProgress': false
                },
                {
                    'name': 'overview',
                    'label': 'Overview Image',
                    'uploadPath': `packages/${this.tourPackage.id}/images`,
                    'uploadedPath': this.imageExists['overview'],
                    'uploadInProgress': false
                }
            ]
        }
    },
    methods: {
        onUploadStart(uploadingFile) {
            let index = this.files.findIndex((file) => file.name === uploadingFile.fileName);
            this.files[index].uploadInProgress = true;
        },
        onFileUploaded(response) {
            let index = this.files.findIndex((file) => file.name === response.fileName);
            this.files[index].uploadedPath = '/storage/' + response.uploadedPath;
            this.files[index].uploadInProgress = false;
            this.$inertia.put(this.route('packages.update.gallery', this.tourPackage.id), {
                path: this.files[index].uploadedPath,
                image_name: this.files[index].name + '_image'
            });
        },
        deleteImage(file, index) {
            if(!file.uploadedPath) {
                alert("File Does Not Exist");
            }
            // Slice removes the "/storage" substring from the path.
            return axios.delete(this.route('delete'), {
                            data: {
                                path: file.uploadedPath.slice(8)
                            }
                        })
                        .then( response => {
                            this.files[index].uploadedPath = null;
                        })
                        .catch( response => {
                        })
        }
    },
    mounted () {
    }
}
</script>