<template>
	<layout>
		<div class="p-12">
			<h1 class="mb-8 font-bold text-3xl">Packages</h1>
			<div class="mb-6 flex justify-between items-center">
				<search-filter v-model="form.search" class="w-full max-w-sm mr-4" @reset="reset">
					<label class="block text-grey-darkest">Status:</label>
					<select v-model="form.trashed" class="mt-1 w-full form-select">
						<option :value="null" />
						<option value="with">With Trashed</option>
						<option value="only">Only Trashed</option>
					</select>
				</search-filter>
				<inertia-link class="btn-indigo" :href="route('packages.create')">
					Create Package
				</inertia-link>
			</div>
			<div class="bg-white rounded shadow overflow-x-auto">
				<table class="w-full whitespace-no-wrap">
					<tr class="text-left font-bold">
						<th class="px-6 pt-6 pb-4">Product Code & Name</th>
						<th class="px-6 pt-6 pb-4">Price</th>
						<th class="px-6 pt-6 pb-4">Duration</th>
						<th class="px-6 pt-6 pb-4">Actions</th>
						<th class="px-6 pt-6 pb-4" colspan="2">&nbsp;</th>
					</tr>
					<tr v-for="trip in packages.data" :key="trip.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center focus:text-indigo-400" :href="route('packages.edit', trip.id)">
								<span class="uppercase">{{trip.code}}</span> {{ trip.title }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center" :href="route('packages.edit', trip.id)" tabindex="-1">
								{{ trip.price_starts_from_currency }} - {{ trip.price_starts_from }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-4 flex items-center" :href="route('packages.edit', trip.id)" tabindex="-1">
								{{ trip.no_of_nights }}N/{{ trip.no_of_days }}D
							</inertia-link>
						</td>
						<td class="border-t">
							<!--
							<inertia-link class="px-6 py-4 flex items-center" :href="route('packages.edit', trip.id)" tabindex="-1">
								Clone
							</inertia-link>
							-->
							<button type="button" class="border rounded-lg bg-gray-100 px-2 py-1 cursor-pointer" @click="cloneTourPackage(trip)">Clone</button>
						</td>
						<td class="border-t w-px">
							<inertia-link class="px-4 flex items-center" :href="route('packages.edit', trip.id)" tabindex="-1">
								<icon name="cheveron-right" type="svg" class="block w-6 h-6 fill-grey" />
							</inertia-link>
						</td>
					</tr>
					<tr v-if="packages.length === 0">
						<td class="border-t px-6 py-4" colspan="4">No packages found.</td>
					</tr>
				</table>
			</div>
			<pagination :links="packages.links" />
		</div>
		<modal v-if="showModal" @close="closeModal">
			<template v-slot:header>
				<div v-if="clonePackage && clonePackage.id">
					Copying Package - {{clonePackage.title}}
				</div>
			</template>
			<template v-slot:body>
				<div v-if="clonePackage && clonePackage.id">
					<form @submit.prevent class="text-sm">
						<div class="p-4 flex flex-col">
							<div class="mb-4">
								<h2 class="font-bold mb-2">Package Title</h2>
								<text-input v-model="newCopyPackage.title" class="w-full rounded" :required="true"/>
							</div>
							<div>
								<h2 class="font-bold mb-2">Package Code</h2>
								<text-input v-model="newCopyPackage.tour_code" class="w-full rounded" :required="true"/>
							</div>
						</div>
					</form>
				</div>
			</template>
			<template v-slot:footer>
				<div v-if="clonePackage && clonePackage.id">
					<button type="button" class="bg-teal-600 text-white border-1 border-teal-600 rounded p-2" @click="onClonePackageConfirm" aria-labelledby="Close">Copy</button>
					<button type="button" class="ml-2 bg-red-400 text-white border-1 border-teal-600 rounded p-2" @click="closeModal" aria-labelledby="Close">Cancel</button>
				</div>
			</template>
		</modal>
	</layout>
</template>

<script>

export default {
	props: {
		packages: Object,
		filters: Object,
	},
	data() {
		return {
			form: {
				search: this.filters.search,
				trashed: this.filters.trashed,
			},
			showModal: false,
			clonePackage: null,
			newCopyPackage: {
				title: '',
				tour_code: ''
			}
		}
	},
	watch: {
		form: {
			handler: _.throttle(function() {
                let query = _.pickBy(this.form)
                this.$inertia.replace(this.route('packages', Object.keys(query).length ? query : { remember: 'forget' }))
            }, 150),
            deep: true,
		},
	},
	methods: {
		reset() {
			this.form = _.mapValues(this.form, () => null)
		},
		cloneTourPackage(tourPackage) {
			console.log(tourPackage);
			this.showModal = true;
			this.clonePackage = tourPackage;
		},
		closeModal () {
			this.showModal = false;
		},
		onClonePackageConfirm() {
			if(!this.clonePackage || !this.clonePackage.id) {
				alert("Invalid Package Selection. Please try with a different tour package");
				return;
			}
			if(!this.newCopyPackage.title || !this.newCopyPackage.tour_code) {
				alert("Please enter valid package title & code to copy");
				return;
			}
			this.$inertia.put(this.route('packages.clone', this.clonePackage.id), this.newCopyPackage);
			this.closeModal();
		}
	}
}
</script>