<template>
    <PackageMenu :tourPackage="tourPackage">
        <div class="p-12">
            <div class="bg-white rounded shadow max-w-lg">
                <form @submit.prevent="submit">
                    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <button class="px-4 py-2 btn-indigo mb-4" type="button" @click="addDefaults">Add Defaults</button>
                        <vue-editor v-model="form.payment_policy" :errors="$page.errors.payment_policy" class="pr-6 pb-8 w-full" label="Payment Policy" :editMode="true"></vue-editor>
                        <vue-editor v-model="form.special_notes" :errors="$page.errors.special_notes" class="pr-6 pb-8 w-full" label="Special Notes" :editMode="true"></vue-editor>
                        <vue-editor v-model="form.remarks" :errors="$page.errors.remarks" class="pr-6 pb-8 w-full" label="Remarks" :editMode="true"></vue-editor>
                        <vue-editor v-model="form.cancellation_policy" :errors="$page.errors.cancellation_policy" class="pr-6 pb-8 w-full" label="Cancellation Policy" :editMode="true"></vue-editor>
                        <vue-editor v-model="form.other_information" :errors="$page.errors.other_information" class="pr-6 pb-8 w-full" label="Other Information" :editMode="true"></vue-editor>
                    </div>
                    <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-end items-center">
                        <submit-button :handler="submit" form-id="package-update-information" class="btn-indigo" type="submit">Update Information</submit-button>
                    </div>
                </form>
            </div>
		</div>
    </PackageMenu>
</template>

<script>
import PackageMenu from './PackageMenu.vue'
export default {
    components:{
		PackageMenu
	},
    props: {
        packageSettings: {
            type: Array,
            default () {
                return [];
            }
        },
        tourPackage: Object
    },
    data() {
        return {
            form: {
                payment_policy: this.tourPackage.payment_policy,
                remarks: this.tourPackage.remarks,
                special_notes: this.tourPackage.special_notes,
                cancellation_policy: this.tourPackage.cancellation_policy,
                other_information: this.tourPackage.other_information
            },
        }
    },
    methods: {
        submit() {
            return this.$inertia.put(this.route('packages.update.information', this.tourPackage.id), this.form);
        },
        addDefaults() {
            this.packageSettings.forEach(function (setting) {
                this.form[_.snakeCase(setting.slug)] = setting.description;
            }.bind(this));
        }
    }
}
</script>