<template>
    <PackageMenu :tourPackage="tourPackage">
		<div class="bg-white rounded shadow">
            <form @submit.prevent class="text-sm">
                <div class="p-8 flex flex-col">
                    <div class="mb-6 p-4 bg-gray-300" v-for="(day, index) in form.itineraries" :key="`itinerary-day-${day.day_number}`">
                        <h2 class="text-lg font-bold mb-2">Day {{day.day_number}}</h2>
                        <text-input v-model="day.title" class="pr-6 pb-8 w-full lg:w-1/2" label="Title" />
                        <div class="bg-white p-2 mb-8">
                            <h2 class="font-bold mb-2">Description</h2>
                            <p class="text-gray-500">Write an overview of today's activities</p>
                            <div class="mb-2 animated fadeIn">
                                <vue-editor v-model="day.description" class="pr-6 pb-8 w-full" :editMode="false"></vue-editor>
                            </div>
                        </div>
                        <div class="mb-8">
                            <h2 class="font-bold mb-2">Meals</h2>
                            <span class="inline-block mr-2" v-for="meal in meals" :key="`day-${day.day_number}-meals-${meal.value}`">
                                <input type="checkbox" :id="`day-${day.day_number}-meals-${meal.value}`" :value="meal" v-model="day.meals">
                                <label :for="`day-${day.day_number}-meals-${meal.value}`">{{meal.label}}</label>
                            </span>
                        </div>
                        <text-input v-model="day.day_highlights_tags" class="pr-6 pb-8 w-full lg:w-1/2" label="Day Highlights (Tags)" />
                        <text-input v-model="day.overnight_stay" class="pr-6 pb-8 w-full lg:w-1/2" label="Overnight Stay Text Description" />
                        <div class="bg-white p-2 mb-8" v-if="day.additional_details.length">
                            <h2 class="font-bold mb-2">Additional Details</h2>
                            <div v-for="(additionalData, dataIndex) in day.additional_details" :key="`day-${day.day_number}-additional-data-additionalData-${dataIndex}`">
                                <text-input v-model="additionalData.title" class="pr-6 pb-8 w-full lg:w-1/2" label="Title" />
                                <div class="mb-2 animated fadeIn">
                                    <vue-editor v-model="additionalData.description" class="pr-6 pb-8 w-full" :editMode="false"></vue-editor>
                                </div>
                                <button type="button" @click="removeAdditionalDetails(index, dataIndex)" class="text-red-600 font-bold outline-none">X</button>
                            </div>
                        </div>
                        <button type="button" class="text-indigo-600 cursor-pointer" @click="addAdditionalDetails(index)">Add Additional Details</button>
                    </div>
                </div>                    
                <div class="px-8 py-4 bg-gray-100 border-t border-gray-200 flex justify-between items-center">
                    <button type="button" class="btn-indigo cursor-pointer" @click="addAdditionalDay">Add Day</button>
                    <submit-button :handler="submit" form-id="package-update-itinerary" class="btn-indigo" type="submit">Update Itinerary</submit-button>
                </div>
            </form>
        </div>
	</PackageMenu>
</template>

<script>
import PackageMenu from './PackageMenu.vue'
export default {
    components: {
        PackageMenu
    },
    props: {
        tourPackage: Object
    },
    data () {
        return {
            form: {
                itineraries: []
            },
            meals: [
                {
                    value: 'breakfast',
                    label: 'Breakfast'
                },
                {
                    value: 'lunch',
                    label: 'Lunch'
                },
                {
                    value: 'dinner',
                    label: 'Dinner'
                },
                {
                    value: 'tea',
                    label: 'Tea/Coffee'
                },
                {
                    value: 'ice-cream',
                    label: 'Ice Cream'
                },
                {
                    value: 'snacks',
                    label: 'Snacks'
                }
            ]
        }
    },
    computed: {
        isEditing () {
            return (this.tourPackage && this.tourPackage.itineraries && this.tourPackage.itineraries.length) ? true : false;
        }
    },
    methods: {
        submit() {
            return this.$inertia.put(this.route('packages.update.itinerary', this.tourPackage.id), this.form);
        },
        generateNewItineraryDetails () {
            for(let index = 0; index < this.tourPackage.no_of_days; index++) {
                this.form.itineraries.push(this.getDayDetails(index + 1));
            }
        },
        getDayDetails(day_number) {
            return {
                title: '',
                description: '',
                meals: [],
                additional_details: [],
                day_highlights_tags: '',
                day_highlights: '',
                day_number: day_number,
                overnight_stay: this.getNightStayInfo(day_number)
            }
        },
        addAdditionalDay () {
            if(this.form.itineraries.length >= this.tourPackage.no_of_days) {
                alert("Cannot add more days to the itineraries. Change the package duration first");
                return;
            }
            this.form.itineraries.push(this.getDayDetails(this.form.itineraries.length + 1));
        },
        addAdditionalDetails (index) {
            this.form.itineraries[index].additional_details.push({
                title: '',
                description: ''
            })
        },
        removeAdditionalDetails (dayIndex, dataIndex) {
            return this.form.itineraries[dayIndex].additional_details.splice(dataIndex, 1);
        },
        getNightStayInfo (day_number) {
            let visitingDestinations = this.tourPackage.day_wise_destinations;
            let nightStayDestination = null;
            if(day_number === this.tourPackage.no_of_days) {
                return '';
            }
            for(let index = 0; index < visitingDestinations.length; index++) {
                if(visitingDestinations[index].day_number < day_number) {
                    continue;
                } else if (visitingDestinations[index].day_number > day_number) {
                    break;
                }
                nightStayDestination = visitingDestinations[index];
                console.log("Night Stay Destination",nightStayDestination);
            }
            return 'Night Stay in ' + nightStayDestination.city_name;
        }
    },
    mounted () {
        if(!this.isEditing) {
            this.generateNewItineraryDetails();
        } else {
            this.form.itineraries = this.tourPackage.itineraries;
        }
    }
}
</script>