<template>
    <layout title="Package">
        <div class="w-full h-full flex flex-stretch">
            <div class="w-48 max-h-full border-r flex flex-col">
                <div class="w-full px-2 py-2 border-b">
                    <h2 class="text-xl font-semibold">Packages</h2>
                </div>
                <div class="flex-grow overflow-y-scroll">
                    <div class="px-2 border-b" :class="isCurrentUrl(route('packages.edit', tourPackage.id)) ? 'bg-yellow-600 text-white' : ''">
                        <div v-if="tourPackage && tourPackage.id">
                            <inertia-link :href="route('packages.edit', tourPackage.id)" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                                <span class="text-sm uppercase">Basic Details</span>
                            </inertia-link>
                        </div>
                        <span v-else class="text-sm uppercase block py-2 leading-loose">Basic Details</span>
                    </div>
                    <div class="px-2 border-b" :class="isCurrentUrl(route('packages.gallery', tourPackage.id)) ? 'bg-yellow-600 text-white' : ''">
                        <div v-if="tourPackage && tourPackage.id">
                            <inertia-link :href="route('packages.gallery', tourPackage.id)" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                                <span class="text-sm uppercase">Gallery</span>
                            </inertia-link>
                        </div>
                        <span v-else class="text-sm uppercase block py-2 leading-loose">Gallery</span>
                    </div>
                    <div class="px-2 border-b" :class="isCurrentUrl(route('packages.destinations', tourPackage.id)) ? 'bg-yellow-600 text-white' : ''">
                        <div v-if="tourPackage && tourPackage.id">
                            <inertia-link :href="route('packages.destinations', tourPackage.id)" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                                <span class="text-sm uppercase">Destinations</span>
                            </inertia-link>
                        </div>
                        <span v-else class="text-sm uppercase block py-2 leading-loose">Destinations</span>
                    </div>
                    <div class="px-2 border-b" :class="isCurrentUrl(route('packages.itinerary', tourPackage.id)) ? 'bg-yellow-600 text-white' : ''">
                        <div v-if="tourPackage && tourPackage.destinations && tourPackage.destinations.length">
                            <inertia-link :href="route('packages.itinerary', tourPackage.id)" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                                <span class="text-sm uppercase">Itinerary</span>
                            </inertia-link>
                        </div>
                        <span v-else class="text-sm uppercase block py-2 leading-loose">Itinerary</span>
                    </div>
                    <div class="px-2 border-b" :class="isCurrentUrl(route('packages.pricing', tourPackage.id)) ? 'bg-yellow-600 text-white' : ''">
                        <div v-if="tourPackage && tourPackage.id">
                            <inertia-link :href="route('packages.pricing', tourPackage.id)" class="block  py-2 leading-loose" active-class="border-l-4 border-red-600">
                                <span class="text-sm uppercase">Pricing</span>
                            </inertia-link>
                        </div>
                        <span v-else class="text-sm uppercase block py-2 leading-loose">Pricing</span>
                    </div>
                    <div class="px-2 border-b" :class="isCurrentUrl(route('packages.accommodations', tourPackage.id)) ? 'bg-yellow-600 text-white' : ''">
                        <div v-if="tourPackage && tourPackage.id">
                            <inertia-link :href="route('packages.accommodations', tourPackage.id)" class="block  py-2 leading-loose" active-class="border-l-4 border-red-600">
                                <span class="text-sm uppercase">Accommodations</span>
                            </inertia-link>
                        </div>
                        <span v-else class="text-sm uppercase block py-2 leading-loose">Accommodations</span>
                    </div>
                    <div class="px-2 border-b" :class="isCurrentUrl(route('packages.filters', tourPackage.id)) ? 'bg-yellow-600 text-white' : ''">
                        <div v-if="tourPackage && tourPackage.id">
                            <inertia-link :href="route('packages.filters', tourPackage.id)" class="block  py-2 leading-loose" active-class="border-l-4 border-red-600">
                                <span class="text-sm uppercase">Filters</span>
                            </inertia-link>
                        </div>
                        <span v-else class="text-sm uppercase block py-2 leading-loose">Filters</span>
                    </div>
                    <div class="px-2 border-b" :class="isCurrentUrl(route('packages.information', tourPackage.id)) ? 'bg-yellow-600 text-white' : ''">
                        <div v-if="tourPackage && tourPackage.id">
                            <inertia-link :href="route('packages.information', tourPackage.id)" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                                <span class="text-sm uppercase">Information</span>
                            </inertia-link>
                        </div>
                        <span v-else class="text-sm uppercase block py-2 leading-loose">Information</span>
                    </div>
                    <div class="px-2 border-b" :class="isCurrentUrl(route('packages.faqs', tourPackage.id)) ? 'bg-yellow-600 text-white' : ''">
                        <div v-if="tourPackage && tourPackage.id">
                            <inertia-link :href="route('packages.faqs', tourPackage.id)" class="block py-2 leading-loose" active-class="border-l-4 border-red-600">
                                <span class="text-sm uppercase">FAQs</span>
                            </inertia-link>
                        </div>
                        <span v-else class="text-sm uppercase block py-2 leading-loose">FAQs</span>
                    </div>
                </div>
            </div>
            <div class="flex-grow overflow-y-scroll">
                <div class="w-full">
                    <div class="w-full py-2 border-b">
                        <h2 class="text-xl px-4 font-semibold">Packages</h2>
                    </div>
                    <div class="w-full h-full">
                        <slot/>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
export default {
    props: {
        title: String,
        tourPackage: Object
    },
}
</script>