<template>
	<layout title="Create Account">
		<div class="p-12">
            <h1 class="mb-8 font-bold text-3xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('contacts')">Contacts</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> Create
            </h1>
            <div class="bg-white rounded shadow max-w-lg">
                <form @submit.prevent>
                    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <!-- Show Only When The Account Is Not Selected On Load -->
                        <!-- <div class="pr-6 pb-8 w-full" v-if="selectedAccount">
							<h4 class="text-indigo-400 inline-block text-xl">Account:</h4> <span class="text-xl">{{selectedAccountName()}}</span>
						</div>

                        <div class="pr-6 pb-8 w-full" v-if="!selectedAccount">
                            <multiselect-input class="w-full lg:w-1/2" v-model="searchedAccount" track-by="id" formlabel="Select Account" label="name" :url="routeUri('api.accounts')"
                                :allow-empty="false" placeholder="Search for an account" :searchable="true" :internal-search="false"
                                :clear-on-select="false" :close-on-select="true" :min-query-length="3">
                            </multiselect-input>
                        </div> -->
                        <div class="w-full flex">
                            <select-input v-model="form.title" :required="true" :errors="$page.errors.title" class="pr-6 pb-8 w-full lg:w-1/2" label="Title">
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Ms">Ms</option>
                                <option value="Miss">Miss</option>
                                <option value="Master">Master</option>
                                <option value="Dr">Dr</option>
                            </select-input>
                        </div>

                        <text-input v-model="form.first_name" :required="true" :errors="$page.errors.first_name" class="pr-6 pb-8 w-full lg:w-1/2" label="Fist Name" />
                        <text-input v-model="form.last_name" :errors="$page.errors.last_name" class="pr-6 pb-8 w-full lg:w-1/2" label="Last Name (Surname)" />
                        <text-input v-model="form.email" :errors="$page.errors.email" class="pr-6 pb-4 w-full lg:w-1/2" label="Email" />
                        <text-input v-model="form.phone" :errors="$page.errors.phone" class="pr-6 pb-4 w-full lg:w-1/2" label="Phone" />
                        <div class="w-full pb-6 text-right text-red-300 text-xs">
                            Phone(Dummy or original), unique one, must be provided to create customer. If email not provided, email will be same as phone.
                        </div>
                        <text-input v-model="form.city" :errors="$page.errors.city" class="pr-6 pb-8 w-full lg:w-1/2" label="City" />
                        <text-input v-model="form.region" :errors="$page.errors.region" class="pr-6 pb-8 w-full lg:w-1/2" label="Province/State" />
                        <select-input v-model="form.country" :errors="$page.errors.country" class="pr-6 pb-8 w-full lg:w-1/2" label="Country">
                            <option v-for="country in countries" :value="country.cca2">{{ country.name }}</option>
                        </select-input>
                        <text-input v-model="form.address" :errors="$page.errors.address" class="pr-6 pb-8 w-full lg:w-1/2" label="Address" />
                        <text-input v-model="form.postal_code" :errors="$page.errors.postal_code" class="pr-6 pb-8 w-full lg:w-1/2" label="Postal code" />
                        <!-- <text-input v-model="form.alt_email" :errors="$page.errors.alt_email" class="pr-6 pb-8 w-full lg:w-1/2" label="Alternate Email" />
                        <text-input v-model="form.alt_phone" :errors="$page.errors.alt_phone" class="pr-6 pb-8 w-full lg:w-1/2" label="Alternate Phone" />
                        <text-input v-model="form.role" :errors="$page.errors.role" class="pr-6 pb-8 w-full lg:w-1/2" label="Role/Designation" />
                        <div class="pr-6 pb-8 w-full lg:w-1/2">
                            <label class="form-label" for="input-date">Date of birth:</label>
                            <input id="input-date" v-model="form.dob" class="form-input" :class="{ error: $page.errors.dob}" type="date">
                        </div> -->
                    </div>
                    <div class="px-8 py-4 bg-grey-lightest border-t border-grey-lighter flex justify-end items-center">
                        <submit-button :handler="submit" class="btn-indigo">
                            Create Contact
                        </submit-button>
                    </div>
                </form>
            </div>
		</div>
	</layout>
</template>

<script>
export default {
    props: {
        countries: Array,
        selectedAccount: Object
    },
    data() {
        return {
            searchedAccount: null,
            sending: false,
            accounts: [],
            form: {
                title: 'Mr',
                first_name: '',
                last_name: '',
                email: null,
                phone: null,
                address: null,
                city: null,
                region: null,
                country: null,
                postal_code: null,
                /* alt_email: null,
                account_id: null,
                alt_phone: null,
                dob: '1988-10-10',
                role: null */
            },
        }
    },
    methods: {
        submit() {
            /* if(!this.selectedAccount) { // No need to set account id as it is already set on mounted
                this.setAccountID();
            } */
            return this.$inertia.post(this.route('contacts'), this.form)
        },
        setAccountID () {
            if(!this.searchedAccount) {
                alert("Please select an account before creating a contact")
                return;
            }
            this.form.account_id = this.searchedAccount.id;
        },
        selectedAccountName() {
            return this.selectedAccount ? this.selectedAccount.name : '';
        }
    },
    mounted() {
        if(this.selectedAccount) {
            this.form.account_id = this.selectedAccount.id;
            this.form.email = this.selectedAccount.email;
            this.form.phone = this.selectedAccount.phone;
            this.form.city = this.selectedAccount.city;
            this.form.region = this.selectedAccount.region;
            this.form.country = this.selectedAccount.country;
            this.form.postal_code = this.selectedAccount.postal_code;
        }
    }
}
</script>