<template>
	<layout title="Edit Contact">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-3xl">
				<inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('contacts')">Contacts</inertia-link>
				<span class="text-indigo-600 font-medium">/</span>
				<span class="text-xl">
					{{ getFullContactName(contact) }}
					<!-- <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('accounts.edit', contact.account.id)">{{contact.account.name}}</inertia-link> -->
				</span>
			</h1>
			<trashed-message v-if="contact.deleted_at" class="mb-6" @restore="restore">
				This contact has been deleted.
			</trashed-message>
			<div class="bg-white rounded shadow overflow-hidden max-w-lg">
				<form @submit.prevent="submit">
					<div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <div class="w-full flex">
                            <select-input v-model="form.title" :required="true" :errors="$page.errors.title" class="pr-6 pb-8 w-full lg:w-1/2" label="Title">
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Ms">Ms</option>
                                <option value="Miss">Miss</option>
                                <option value="Master">Master</option>
                                <option value="Dr">Dr</option>
                            </select-input>
                        </div>
                        <text-input v-model="form.first_name" :required="true" :errors="$page.errors.first_name" class="pr-6 pb-8 w-full lg:w-1/2" label="Fist Name" />
                        <text-input v-model="form.last_name" :errors="$page.errors.last_name" class="pr-6 pb-8 w-full lg:w-1/2" label="Last Name (Surname)" />
                        <text-input v-model="form.email" :errors="$page.errors.email" class="pr-6 pb-8 w-full lg:w-1/2" label="Email" />
                        <text-input v-model="form.phone" :errors="$page.errors.phone" class="pr-6 pb-8 w-full lg:w-1/2" label="Phone" />
                        <text-input v-model="form.city" :errors="$page.errors.city" class="pr-6 pb-8 w-full lg:w-1/2" label="City" />
                        <text-input v-model="form.region" :errors="$page.errors.region" class="pr-6 pb-8 w-full lg:w-1/2" label="Province/State" />
                        <select-input v-model="form.country" :errors="$page.errors.country" class="pr-6 pb-8 w-full lg:w-1/2" label="Country">
                            <option v-for="country in countries" :value="country.cca2">{{ country.name }}</option>
                        </select-input>
                        <text-input v-model="form.address" :errors="$page.errors.address" class="pr-6 pb-8 w-full lg:w-1/2" label="Address" />
                        <text-input v-model="form.postal_code" :errors="$page.errors.postal_code" class="pr-6 pb-8 w-full lg:w-1/2" label="Postal code" />

						<!-- <text-input v-model="form.alt_email" :errors="$page.errors.alt_email" class="pr-6 pb-8 w-full lg:w-1/2" label="Alternate Email" />
                        <text-input v-model="form.alt_phone" :errors="$page.errors.alt_phone" class="pr-6 pb-8 w-full lg:w-1/2" label="Alternate Phone" />
                        <text-input v-model="form.role" :errors="$page.errors.role" class="pr-6 pb-8 w-full lg:w-1/2" label="Role/Designation" />
                        <div class="pr-6 pb-8 w-full lg:w-1/2">
                            <label class="form-label" for="input-date">Date of birth:</label>
                            <input id="input-date" v-model="form.dob" class="form-input" :class="{ error: $page.errors.dob}" type="date">
                        </div> -->
                    </div>
					<div class="px-8 py-4 bg-gray-100 border-t border-gray-400 flex items-center">
						<button v-if="!contact.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Delete Contact</button>
						<submit-button :handler="submit" class="btn-indigo ml-auto">
							Update Contact
						</submit-button>
					</div>
				</form>
			</div>
		</div>
	</layout>
</template>

<script>
export default {
	props: {
		contact: Object,
		countries: Array
	},
	remember: 'form',
	data() {
		return {
			sending: false,
			form: {
				title: this.contact.title,
                first_name: this.contact.first_name,
                last_name: this.contact.last_name,
                email: this.contact.email,
                phone: this.contact.phone,
                address: this.contact.address,
                city: this.contact.city,
                region: this.contact.region,
                country: this.contact.country,
                postal_code: this.contact.postal_code,
                /* account_id: this.contact.account_id,
                alt_email: this.contact.alt_email,
                alt_phone: this.contact.alt_phone,
                dob: this.contact.dob,
                role: this.contact.role */
			},
		}
	},
	methods: {
		submit() {
			return this.$inertia.put(this.route('contacts.update', this.contact.id), this.form)
		},
		destroy() {
			if (confirm('Are you sure you want to delete this contact?')) {
				this.$inertia.delete(this.route('contacts.destroy', this.contact.id))
			}
		},
		restore() {
			if (confirm('Are you sure you want to restore this contact?')) {
				this.$inertia.put(this.route('contacts.restore', this.contact.id))
			}
		}
	}
}
</script>
