<template>
	<layout title="Contacts">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-3xl">Contacts</h1>
			<div class="mb-6 flex justify-between items-center">
				<search-filter v-model="form.search" class="w-full max-w-sm mr-4" @reset="reset">
					<label class="block text-grey-darkest">Trashed:</label>
					<select v-model="form.trashed" class="mt-1 w-full form-select">
						<option :value="null" />
						<option value="with">With Trashed</option>
						<option value="only">Only Trashed</option>
					</select>
				</search-filter>
				<inertia-link class="btn-indigo p-4" :href="route('contacts.create')">
				 	Create Customer
				</inertia-link>
			</div>
			<div class="bg-white rounded shadow overflow-x-auto">
				<table class="w-full whitespace-no-wrap text-sm">
					<tr class="text-left font-bold">
						<th class="px-2 pt-3 pb-2">Name</th>
						<th class="px-2 pt-3 pb-2">Email</th>
						<th class="px-2 pt-3 pb-2">Phone</th>
						<th class="px-6 pt-3 pb-2" colspan="2">City</th>
					</tr>
					<tr v-for="contact in contacts.data" :key="contact.id" class="hover:bg-gray-400 focus-within:bg-gray-300">
						<td class="border-t">
							<inertia-link class="px-6 py-2 flex items-center focus:text-indigo-400" :href="route('contacts.edit', contact.id)">
								{{ contactName(contact) }}
								<icon v-if="contact.deleted_at" name="trash" class="flex-no-shrink w-3 h-3 fill-grey ml-2" />
							</inertia-link>
						</td>
						<!-- <td class="border-t">
							<inertia-link class="px-6 py-2 flex items-center" :href="route('contacts.edit', contact.id)" tabindex="-1">
								{{ contact.account.name }}
							</inertia-link>
						</td> -->
						<td class="border-t">
							<inertia-link class="px-6 py-2 flex items-center" :href="route('contacts.edit', contact.id)" tabindex="-1">
							{{ contact.email }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-2 flex items-center" :href="route('contacts.edit', contact.id)" tabindex="-1">
							{{ contact.phone }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-6 py-2 flex items-center" :href="route('contacts.edit', contact.id)" tabindex="-1">
								{{ contact.city }}
							</inertia-link>
						</td>
						<td class="border-t w-px">
							<inertia-link class="px-4 flex items-center" :href="route('contacts.edit', contact.id)" tabindex="-1">
								<icon name="cheveron-right" type="svg" class="block w-6 h-6 fill-grey" />
							</inertia-link>
						</td>
					</tr>
					<tr v-if="contacts.data.length === 0">
						<td class="border-t px-6 py-2" colspan="5">No contacts found.</td>
					</tr>
				</table>
			</div>
			<pagination :links="contacts.links" />
		</div>
	</layout>
</template>

<script>
export default {
	props: {
		contacts: Object,
		filters: Object,
	},
	data() {
		return {
			form: {
				search: this.filters.search,
				trashed: this.filters.trashed
			}
		}
	},
	methods: {
		reset() {
			this.form = _.mapValues(this.form, () => null)
		},
		contactName(contact) {
			return `${contact.title}. ${contact.first_name} ${contact.last_name}`;
		}
	},
	watch: {
		form: {
			handler: _.throttle(function() {
				let query = _.pickBy(this.form);
				this.$inertia.replace(this.route('contacts', Object.keys(query).length ? query : { remember: 'forget'}))
			}, 150),
			deep: true
		}
	}
}
</script>
