<template>
	<layout title="Create Inquiry">
		<div class="p-12">
            <h1 class="mb-8 font-bold text-3xl">
                <inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('inquiries')">Inquiries</inertia-link>
                <span class="text-indigo-400 font-medium">/</span> Create
            </h1>
            <div class="bg-white rounded shadow max-w-lg">
                <form @submit.prevent>
                    <div class="p-8 -mr-6 -mb-8 flex flex-wrap">
                        <div class="pr-2 pt-2 pb-6 w-1/4">
                            <label class="form-label"> Inquiry Type </label>
                        </div>
                        <div class="pr-2 pt-2 pb-6 w-3/4">
                            <label v-for="type in inquiryTypes" :key="type">
                                &nbsp;
                                <input type="radio" name="inquiry-type" class="p-0"
                                        v-model="form.inquiry_type" :value="type">
                                {{ type }}
                            </label>
                        </div>

                        <text-input v-model="form.name" :required="true" :errors="$page.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Inquiry Name" />
                        <text-input v-model="form.code" :errors="$page.errors.code" class="pr-6 pb-8 w-full lg:w-1/2" disabled label="Code" />
                        <div class="pr-6 pb-8 w-full lg:w-1/2">
                            <label class="form-label" for="inquiry-date-of-travel">Date of travel:</label>
                            <input id="inquiry-date-of-travel" v-model="form.date_of_travel" class="form-input" :class="{ error: $page.errors.date_of_travel}" type="date">
                        </div>

                        <!-- Add Select Package Functionality Here -->

                        <select-input v-model="form.status_id" :required="true" :errors="$page.errors.status_id" class="pr-6 pb-8 w-full lg:w-1/2" label="Status">
                            <option v-for="status in statuses" :value="status.id">{{ status.name }}</option>
                        </select-input>

                        <div class="pr-6 pb-8 w-full lg:w-1/2" v-if="!form.is_new_customer">
                            <user-select class="w-full"
                                v-model="selectedUser" :user-id="form.customer_id"
                                label="Enquiry from Customer"
                                :required="false"
                                :errors="$page.errors.customer_id"
                                type="customer">
                            </user-select>
                            <div class="text-right">
                                <a href="javascript:void(0)" class="text-xs text-indigo-500" @click="form.is_new_customer=!form.is_new_customer"> New Customer </a>
                            </div>
                        </div>

                        <template v-if="form.is_new_customer">
                            <div class="pr-6 pb-8 w-1/5">
                                <user-title v-model="form.title" :required="true" :errors="$page.errors.title" label="Title">
                                </user-title>
                            </div>
                            <div class="pr-6 pb-8 w-2/5">
                                <text-input v-model="form.first_name" :required="true" :errors="$page.errors.first_name" label="First Name" />
                            </div>
                            <div class="pr-6 pb-8 w-2/5">
                                <text-input v-model="form.last_name" :errors="$page.errors.last_name"   label="Last Name/Surname" />
                            </div>
                            <div class="pr-6 pb-2 w-full lg:w-1/2">
                                <text-input v-model="form.email" :errors="$page.errors.email"  label="Email" />
                            </div>
                            <div class="pr-6 pb-2 w-full lg:w-1/2">
                                <text-input v-model="form.phone" :errors="$page.errors.phone" label="Phone" />
                            </div>
                            <div class="w-full pb-6 text-right text-red-300 text-xs">
                                Phone(Dummy or original), unique one, must be provided to create customer. If email not provided, email will be same as phone.
                            </div>
                            <div class="pr-2 pt-2 pb-2 w-1/4">
                                Lead Source
                            </div>
                            <div class="pr-2 pt-2 pb-2 w-3/4">
                                <label v-for="source in leadSources" :key="source">
                                    &nbsp;
                                    <input type="radio" name="lead-source" class="p-0"
                                            v-model="form.lead_source_type" :value="source">
                                    {{ source }}
                                </label>
                                <div v-if="isLeadFromOtherSources" class="pb-2">
                                    <user-select v-model="selectedUser" :user-id="form.lead_source_user_id"></user-select>
                                </div>
                            </div>
                            <div class="w-full text-right">
                                <a href="javascript:void(0)" class="text-xs text-indigo-500 text-right" @click="form.is_new_customer=!form.is_new_customer"> Select from Exisiting customers </a> <br>
                            </div>
                        </template>

                        <div class="pr-6 pb-8 w-full lg:w-1/2">
                            <!-- <multiselect-input class="w-full" v-model="assignTo"
                                :required="true" track-by="id" formlabel="Assign To" label="first_name" :url="usersURL"
                                :errors="$page.errors.assigned_to"
                                :allow-empty="false" placeholder="Assign to an employee"
                                :searchable="true"
                                :internal-search="false"
                                :clear-on-select="false" :close-on-select="true"
                                :min-query-length="3"
                                :custom-label="getFullEmployeeName">
                            </multiselect-input> -->
                            <user-select class="w-full"
                                v-model="assignTo" :user-id="form.assigned_to"
                                label="Assign To Employee"
                                :errors="$page.errors.assigned_to"
                                type="employee">
                            </user-select>
                        </div>

                        <select-input v-model="form.priority" :required="true" :errors="$page.errors.priority" class="pr-6 pb-8 w-full lg:w-1/2" label="Priority">
                            <option value="Immediate">Immediate</option>
                            <option value="High">High</option>
                            <option value="Low">Low</option>
                        </select-input>
                        <!-- <div class="pr-6 pb-8 w-full lg:w-1/2">
                            <label class="form-label" for="inquiry-response-date">Expected Reply date:</label>
                            <input id="inquiry-response-date" v-model="form.reply_expected_date" class="form-input" :class="{ error: $page.errors.reply_expected_date}" type="date">
                        </div> -->

                        <textareainput v-model="form.notes[0].notes" :required="true" :errors="$page.errors.notes" class="pr-6 pb-8 w-full" label="Inquiry Notes" />
                    </div>
                    <div class="px-8 py-4 bg-grey-lightest border-t border-gray-200 flex justify-end items-center">
                        <submit-button :handler="submit" class="btn-indigo" type="submit">
                            Create Inquiry
                        </submit-button>
                    </div>
                </form>
            </div>
		</div>
	</layout>
</template>

<script>
export default {
    props: {
        statuses: Array
    },
    data() {
        return {
            sending: false,
            referredBy: null,
            selectedUser:  null,
            assignTo: null,
            contacts: [],
            customersURL: '/api/contacts',
            usersURL: '/api/users',
            form: {
                inquiry_type: 'FIT',
                name: null,
                code: null,
                date_of_travel: null,
                status_id: 1,
                notes: [ { notes:'', date: '' , user: ''}],
                assigned_to: null,
                customer_id: null,
                is_new_customer: false,
                first_name: '',
                last_name: '',
                email: '',
                phone: '',
                lead_source_type:'',
                lead_source_name: '',
                lead_source_user_id: 1,
                priority:'',
                reply_expected_date:''
            },
            inquiryTypes: ['Group', 'FIT'],
            socialLeadSources:[ 'Google Ads', 'Facebook', 'Just Dial'],
            otherSources:['Customer', 'Employee']
        }
    },
    computed:{
        leadSources() {
            return this.socialLeadSources.concat(this.otherSources)
        },
        isLeadFromOtherSources() {
            return this.otherSources.includes(this.form.lead_source_type)
        }
    },
    methods: {

        submit() {
            this.form.lead_source_name = this.form.lead_source_type
            if( this.isLeadFromOtherSources )
                this.form.lead_source_name = this.getUserFullName(this.selectedUser)

            this.addUserNameAndDateForNotes()

            this.form.assigned_to = this.assignTo ? this.assignTo.id : null;
            this.form.customer_id = this.selectedUser ? this.selectedUser.id : null;

            return this.$inertia.post(this.route('inquiries.store'), this.form)
        },
        addUserNameAndDateForNotes() {
            this.form.notes[0].user = this.getFullEmployeeName(this.$page.auth.user)
            this.form.notes[0].date = dayjs().toJSON()
        },
        getCustomerDetails(customer) {
            return this.getName(customer) + ' ' + this.getContact(customer)
        },
        getName(customer) {
            return this.getUserFullName(customer)
        },
        getContact(customer) {
            return `${customer.phone ? customer.phone : 'No Phone' } - ${customer.email ? customer.email : 'No Email' }`
        }
    },
}
</script>
