<template>
	<layout :title="form.name">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-3xl">
				<inertia-link class="text-indigo-600 hover:text-indigo-700" :href="route('inquiries')">Inquiries</inertia-link>
				<span class="text-indigo-600 font-medium">/</span>
				{{ form.name }}
			</h1>
			<trashed-message v-if="inquiry.deleted_at" class="mb-6" @restore="restore">
				This inquiry has been deleted.
			</trashed-message>
			<div class="bg-white rounded shadow overflow-hidden max-w-lg">
				<form @submit.prevent>
					<div class="p-8 -mr-6 -mb-8 flex flex-wrap">
						<div class="pr-2 pt-2 pb-6 w-1/4">
							<label class="form-label"> Inquiry Type </label>
						</div>
                        <div class="pr-2 pt-2 pb-6 w-3/4">
                            <label v-for="type in inquiryTypes" :key="type">
                                &nbsp;
                                <input type="radio" name="inquiry-type" class="p-0"
                                        v-model="form.inquiry_type" :value="type">
                                {{ type }}
                            </label>
                        </div>
						<text-input v-model="form.name" :required="true" :errors="$page.errors.name" class="pr-6 pb-8 w-full lg:w-1/2" label="Name" />
                        <text-input v-model="form.code" :errors="$page.errors.code" class="pr-6 pb-8 w-full lg:w-1/2" label="Code" disabled/>
                        <div class="pr-6 pb-8 w-full lg:w-1/2">
                            <label class="form-label" for="inquiry-date-of-travel">Date of travel:</label>
                            <input id="inquiry-date-of-travel" v-model="form.date_of_travel" class="form-input" :class="{ error: $page.errors.date_of_travel}" type="date">
                        </div>

                        <!-- Add Select Package Functionality Here -->

                        <select-input v-model="form.status_id" :required="true" :errors="$page.errors.status_id" class="pr-6 pb-8 w-full lg:w-1/2" label="Status">
                            <option v-for="status in statuses" :value="status.id">{{ status.name }}</option>
                        </select-input>

						<div class="w-screen">
							<div class="flex flex-col">
								<div class="text-gray-700 text-center bg-gray-100 px-4 pb-4"
								       v-for=" note in form.notes" :key="note.date">

									<div class="text-left" v-html="replaceNewLineWithBr(note.notes)"></div>
                                    <div class="text-center text-xs text-indigo-400">
									    .......... {{ note.user }} - <date-label :datetime="note.date"/> ..........
								    </div>
								</div>
							</div>
						</div>
						<div class="w-full">
                            <textareainput v-if="isNewNotes" v-model="form.notes[form.notes.length-1].notes" :required="true" :errors="$page.errors.notes" class="pr-6 pb-8 w-full" label="Inquiry Notes" rows="10"/>

							<div class="text-right m-4">
						        <a href="javascript:void(0)" class="text-indigo-500" @click="toggleNewNotes">
                                    <span v-if="isNewNotes"> Delete </span>
                                    <span v-else>Add </span> New Notes
                                </a>
							</div>
						</div>

						<div class="w-full flex flex-wrap">
							<div class="pr-6 pb-8 w-1/3">
								<label class="text-indigo-600 hover:text-indigo-700 text-xl font-bold">Customer:</label>
							</div>

							<div class="pr-6 pb-8 w-2/3">
								<template v-if="showCustomerField">
									<!-- <multiselect-input class="w-full" v-model="newSelectedCustomer" :required="true" track-by="id" formlabel="Select Customer" label="fname" :url="routeUri('api.contacts')"
										:errors="$page.errors.customer_id" :allow-empty="false" placeholder="Search for a contact" :searchable="true" :internal-search="false"
										:clear-on-select="false" :close-on-select="true" :min-query-length="3" :custom-label="getFullContactName">
									</multiselect-input> -->
									<user-select class="w-full"
										v-model="newSelectedCustomer" :user-id="form.customer_id"
										label="Enquiry from Customer"
										:required="false"
										:errors="$page.errors.customer_id"
										type="customer">
									</user-select>
								</template>
								<template v-else>
									<div class="text-md">
										<span>{{getFullContactName(customer)}}</span>
										- <span class="text-xs"> {{ getUserPhone(customer)}} </span> - 
											<span class="text-xs" id="email-to-clipboard"> {{ getUserEmail(customer) }} </span>
										<icon name="sticky-note-o" @click="copyToClipBoard('email-to-clipboard')"></icon>
									</div>
								</template>
								<span class="block cursor-pointer text-xs text-blue-400">
									<span v-if="!showCustomerField" @click="showCustomerField = !showCustomerField">Change</span>
									<span v-else @click="showCustomerField = !showCustomerField">Reset</span>
								</span>
							</div>
						</div>

						<div class="w-full flex flex-wrap">
							<div class="pr-6 pb-8 w-1/3">
								<label class="text-indigo-600 hover:text-indigo-700 text-xl font-bold">Assigned To:</label>
							</div>

							<div class="pr-6 pb-8 w-2/3">
								<template v-if="showAssignedToField">
									<!-- <multiselect-input class="w-full" v-model="newAssignedTo" :required="true" track-by="id" formlabel="Assigned To" label="first_name" :url="routeUri('api.users')"
										:errors="$page.errors.assigned_to" :allow-empty="false" placeholder="Search for a contact" :searchable="true" :internal-search="false" 
										:clear-on-select="false" :close-on-select="true" :min-query-length="3" :custom-label="getFullEmployeeName">
									</multiselect-input> -->
									<user-select class="w-full"
										v-model="newAssignedTo" :user-id="form.assigned_to"
										label="Assigned to Employee"
										:required="false"
										:errors="$page.errors.assigned_to"
										type="employee">
									</user-select>
								</template>
								<div v-else>
									<span>{{getFullEmployeeName(assignedTo)}}</span>
								</div>
								<span class="block cursor-pointer text-xs text-blue-400">
									<span v-if="!showAssignedToField" @click="showAssignedToField = !showAssignedToField">Change</span>
									<span v-else @click="showAssignedToField = !showAssignedToField">Reset</span>
								</span>
							</div>
						</div>

						<div class="pr-6 pb-8 w-full lg:w-1/2">
							<select-input v-model="form.priority" :required="true" :errors="$page.errors.priority" class="" label="Priority">
								<option v-for="priority in prorities"  :value="priority" :key="priority + '-priority-key'">
									{{ priority }}
								</option>
							</select-input>
						</div>


						<!-- <div class="pr-6 pb-8 w-full lg:w-1/2">
                            <label class="form-label" for="inquiry-response-date">Expected Reply date: {{ form.reply_expected_date }} </label>
                            <input id="inquiry-response-date" v-model="form.reply_expected_date" class="form-input" :class="{ error: $page.errors.reply_expected_date}" type="date">
                        </div> -->

						<div class="w-full text-xs">
							<div class="pr-6 pb-8 w-full text-right">
								<label class="text-indigo-600 hover:text-indigo-700 font-bold">Created By:</label>
								<span>{{getFullEmployeeName(createdBy)}}</span>
							</div>
						</div>
					</div>
					<div class="px-8 py-4 bg-gray-100 border-t border-gray-400 flex items-center">
						<button v-if="!inquiry.deleted_at" class="text-red-600 hover:underline" tabindex="-1" type="button" @click="destroy">Delete Inquiry</button>
						<submit-button :handler="submit" class="btn-indigo ml-auto">
							Update Inquiry
						</submit-button>
					</div>
				</form>
			</div>
		</div>
	</layout>
</template>

<script>

export default {
	props: {
		inquiry: Object,
		statuses: Array,
		createdBy: Object,
		assignedTo: Object,
		customer: Object,
	},
	remember: 'form',
	data() {
		return {
			sending: false,
			showCustomerField: false,
			showAssignedToField: false,
			newSelectedCustomer: null,
			showAssignedToField: false,
			newAssignedTo: null,
			form: {
				inquiry_type: this.inquiry.inquiry_type ? this.inquiry.inquiry_type: 'FIT',
				name: this.inquiry.name,
				code: this.inquiry.code,
				date_of_travel: this.inquiry.date_of_travel,
				package: this.inquiry.package,
				status_id: this.inquiry.status_id,
				notes: this.inquiry.notes,
				created_by_customer: this.inquiry.created_by_customer,
				customer_id: this.customer.id,
				assigned_to: this.assignedTo.id,
                priority: this.inquiry.priority ?  this.inquiry.priority : 'Immediate',
				reply_expected_date: this.inquiry.reply_expected_date,
				closed_on: this.inquiry.closed_on
			},
			inquiryTypes: ['Group', 'FIT'],
			prorities: ['Immediate', 'High', 'Low'],
			isNewNotes: false
		}
	},
	computed:{
		defaultPrority() {
			return this.prorities[0]
		}
	},
	methods: {
		submit() {
			this.sending = true;
			if(this.newSelectedCustomer) {
				this.form.customer_id = this.newSelectedCustomer.id;
			}
			if(this.newAssignedTo) {
				this.form.assigned_to = this.newAssignedTo.id;
			}

			this.addUserNameAndDateForNotes()

			return this.$inertia.put(this.route('inquiries.update', this.inquiry.id), this.form)
		},
		addUserNameAndDateForNotes() {
            this.form.notes[this.form.notes.length - 1].user = this.getFullEmployeeName(this.$page.auth.user)
			this.form.notes[this.form.notes.length - 1].date = dayjs().toJSON()

			this.form.notes = this.form.notes.filter( note => note.notes.length > 0 )
        },
		destroy() {
			if (confirm('Are you sure you want to delete this inquiry?')) {
				this.$inertia.delete(this.route('inquiries.destroy', this.inquiry.id))
			}
		},
		restore() {
			if (confirm('Are you sure you want to restore this inquiry?')) {
				this.$inertia.put(this.route('inquiries.restore', this.inquiry.id))
			}
		},
	    toggleNewNotes() {
			this.isNewNotes = !this.isNewNotes
		    if(!Array.isArray(this.form.notes))
			   this.form.notes = []

			if( this.isNewNotes )
			   this.form.notes.push( { notes:'', date: '', user: '' } )
			else
			   this.form.notes.splice( this.form.notes.length-1)
	    },
		replaceNewLineWithBr(notes) {
			return notes ? notes.replace(/(?:\r\n|\r|\n)/g, '<br>') : ''
		}
	},
}
</script>
