<template>
	<layout title="Inquiries">
		<div class="p-12">
			<h1 class="mb-8 font-bold text-3xl">Inquiries</h1>
			<div class="mb-6 flex justify-between items-center">
				<search-filter v-model="form.search" class="w-full max-w-sm mr-4" @reset="reset">
					<div class="mb-2">
						<user-select class="w-full" v-model="form.assigned_to" label="Assigned To"
							type="employee">
						</user-select>
					</div>
					<div>
						<label class="block text-grey-darkest">Trashed:</label>
						<select v-model="form.trashed" class="mt-1 w-full form-select">
							<option :value="null" />
							<option value="with">With Trashed</option>
							<option value="only">Only Trashed</option>
						</select>
					</div>
				</search-filter>
				<inertia-link class="btn-indigo" :href="route('inquiries.create')">
					Create Inquiry
				</inertia-link>
			</div>
			<div class="w-full">
				<label v-for="status in statuses" class="ml-2" :key="status.id + '-status-id-key' ">
					<input type="checkbox" v-model="form.status_ids" :value="status.id" name="inqury_status">
					{{ status.name }}
				</label>
				<label class="text-xs">
					<a href="javascript:void(0)" class="text-indigo-500 ml-3" @click="selectAllStatusIds"> Select all </a>
					<a href="javascript:void(0)" class="text-indigo-500 ml-3" @click="clearAllStatusIds"> Un Select all </a>
				</label>
			</div>
			<div class="bg-white rounded shadow overflow-x-auto">
				<table class="w-full whitespace-no-wrap text-xs">
					<tr class="text-left font-bold">
						<th class="px-2 pt-2 pb-2" style="width:6%">Code</th>
						<th class="px-2 pt-2 pb-2" style="width:30%;max-width:30%">Name</th>
						<th class="px-2 pt-2 pb-2">Customer</th>
						<th class="px-2 pt-2 pb-2">Type</th>
						<th class="px-2 pt-2 pb-2">Travel Date</th>
						<th class="px-2 pt-2 pb-2">Priority</th>
						<th class="px-2 pt-2 pb-2" colspan="2">Assigned To</th>
					</tr>
					<tr v-for="inquiry in inquiries.data" :key="inquiry.id" class="hover:bg-gray-200 focus-within:bg-gray-300">
						<td class="border-t">
							<inertia-link class="px-2 py-2 flex items-center focus:text-indigo-400" :href="route('inquiries.edit', inquiry.id)">
								{{ inquiry.code }}
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-2 py-2 flex items-center focus:text-indigo-400" :href="route('inquiries.edit', inquiry.id)">
								{{ inquiry.name }}
								<icon v-if="inquiry.deleted_at" name="trash" class="flex-no-shrink w-3 h-3 fill-grey ml-2" />
							</inertia-link>
						</td>
						<td class="border-t">
							<inertia-link class="px-2 py-2 flex items-center focus:text-indigo-400" :href="route('inquiries.edit', inquiry.id)">
								<span v-if="inquiry.customer">
									{{ getFullContactName(inquiry.customer) }} <br>
									{{  inquiry.customer.phone }}
								</span>
							</inertia-link>
						</td>
						<td class="border-t">
							{{ inquiry.inquiry_type }}
						</td>
						<td class="border-t">
							<inertia-link class="px-2 py-2 flex items-center" :href="route('inquiries.edit', inquiry.id)" tabindex="-1">
								<date-label :date="inquiry.date_of_travel"></date-label>
							</inertia-link>
						</td>
						<td class="border-t">
							<span> {{ inquiry.priority }} </span> <br>
							<small>
								{{ statusById(inquiry.status_id).name }}
								<!-- <date-label :datetime="inquiry.reply_expected_date"></date-label> -->
							</small>
						</td>
						<td class="border-t">
							<inertia-link class="px-2 py-2 flex items-center" :href="route('inquiries.edit', inquiry.id)" tabindex="-1">
								{{ inquiry.assigned_to ? inquiry.assigned_to.first_name : '' }}
							</inertia-link>
						</td>
						<td class="border-t w-px">
							<inertia-link class="px-4 flex items-center" :href="route('inquiries.edit', inquiry.id)" tabindex="-1">
								<icon name="cheveron-right" type="svg" class="block w-6 h-6 fill-grey" />
							</inertia-link>
						</td>
					</tr>
					<tr v-if="inquiries.data.length === 0">
						<td class="border-t px-2 py-2" colspan="5">No inquiries found.</td>
					</tr>
				</table>
			</div>

			<pagination :links="inquiries.links" />
		</div>
	</layout>
</template>

<script>
export default {
	props: {
		inquiries: Object,
		filters: Object,
		statuses: Array
	},
	data() {
		return {
			form: {
				search: this.filters.search,
				trashed: this.filters.trashed,
				assigned_to: this.filters.assigned_to,
				status_ids: []
			},
			selectedStatuses: []
		}
	},
	methods: {
		reset() {
			this.form = _.mapValues(this.form, () => null)
		},
		clearAllStatusIds() {
			this.form.status_ids = []
		},
		selectAllStatusIds(){
			this.form.status_ids = []
			this.statuses.forEach( status => this.form.status_ids.push( status.id))
		}
	},
	watch: {
		form: {
			handler: _.throttle(function() {
				let query = _.pickBy(this.form);
				query.assigned_to = query.assigned_to ? query.assigned_to.id : null;
				this.$inertia.replace(this.route('inquiries', Object.keys(query).length ? query : { remember: 'forget'}))
			}, 150),
			deep: true
		}
	},
	mounted() {
		/* this.form.status_ids = []
		const excludedStatus = ['Booked', 'Postponed', 'Lead Lost', 'Cancelled Program'];
		this.statuses.forEach( (status) => {
			if( excludedStatus.indexOf(status.name) < 0)
				this.form.status_ids.push( status.id)
		}) */
	}
}
</script>
